[2017-01-17 09:22] noamoss opened #1 "Create main page features and elements (Draft)"
desktop anonymous: http://framebox.org/AaoAG

![image](https://cloud.githubusercontent.com/assets/3581741/22196603/a4eb7e3a-e156-11e6-9515-1c08bb2e6358.png)

admin:

mobile:

admin view:

* Add "ערוך" / "Edit" link next to each element in the skitch

[2017-01-17 21:04] noamoss opened #2 "Create regulations/local rules/reports/protocols (Draft)"
Desktop view:

![image](https://cloud.githubusercontent.com/assets/3581741/22184295/618d283e-e0d7-11e6-939c-1eb78e4f5fa0.png)

http://framebox.org/AaOeI-ZbODrc
* **סוג** selection (multi choice): חוק עזר, תקנה, דו״ח, הכל

* as user starts to type in search box, a shortening list of suggestions for relevant content appears (notice: not an auto complete!):
![image](https://cloud.githubusercontent.co

[2017-01-17 21:10] noamoss opened #3 "Create Municipality Structure (and contacts) page features and elements (Draft)"
Destkop:

![image](https://cloud.githubusercontent.com/assets/3581741/22184306/c04f70d4-e0d7-11e6-9b3f-52c27c188116.png)

http://framebox.org/AaOGU-DSeiql

* each worker name will open a new page with more info / data.
* each unit  link in the result will be linked the unit page (which includes optional a sub view of the relevant workers) (see #6)
* notice the exposed filters of the results area
-

[2017-01-18 00:17] noamoss opened #4 "Accessability Survey WCAG) 2.0)"
Each site page should follow the accessibility regulations.

Guidelines: [English](http://www.isoc.org.il/files/w3c-wai/guidelines.html), [Hebrew](http://www.isoc.org.il/files/w3c-wai/guidelines.html)

The following survey of the ministry of law should be used to ensure it: http://www.justice.gov.il/Units/NetzivutShivyon/Kvatzim/30502000_TofesBdikatNegishutInternet.xlsx

[2017-01-22 16:25] noamoss opened #5 "Add WYSIWYG [3h]"
add CKEditor for all content types with long text fields.

[2017-01-22 16:26] noamoss opened #6 "unit / department / topic page (draft)"
Desktop:
![image](https://cloud.githubusercontent.com/assets/3581741/22185297/a382567e-e0eb-11e6-8c22-ed298f3fd4ce.png)

http://framebox.org/AaRNY-GxDpjL

* contacts, events, announcements are filtered by the unit/department/topic.
* Page Admin can choose:
** which shape the module will be displayed (in case there is more than one shape)
** which fields to be displayed and header structure (in cas

[2017-01-22 19:16] noamoss opened #7 "contact-us"
**Scenario:** a citizen wants to report that garbage was not removed from their street for the last 3 days.

**presumptions:**
1. There is a specific official or department responsible for the service (therefore this issue is connected to #20, #30 ).
2. Citizen does not know who is the right address to contact, nor the route of the garbage truck or days and times of service.
3. They would like to

[2017-01-22 20:28] noamoss opened #8 "Events & Vacations Board/Calendar"
**scenario:**
1) Citizens should be aware to special (or regular) events organized or supported by the municipal authority. The events can be either "general" (organized by the mayor office) or "departmental" (organized and published by one of the municipal authority departments).

2) Citizen should be able to know in advance when the municipality offices are closed (vacations). It should also ref

[2017-01-22 20:29] noamoss opened #9 "create reports/protocols module (draft)"

[2017-01-22 20:30] noamoss opened #10 "create a content module (draft)"

[2017-01-22 20:33] noamoss opened #11 "create a contact-us module"

[2017-01-22 20:34] noamoss opened #12 "create a links box module"

[2017-01-22 20:34] noamoss opened #13 "Special and promotion Announcements"
**scenario:** the citizen does not visit the website a lot. Once he/she does, they would like to see the most relevant and important update(s). Those can be links to a longer text/image/video, but also 2 sentences update.

(**no real world data here, though it is pretty straightforward, here are 3 examples**):
1) משרדי הרשות המקומית יהיו סגורים ביום שלישי ה-5.3. חג שמח (see #8 )
2) ברכות למחלקת הג

[2017-01-22 20:38] noamoss opened #14 "create a contacts module (draft)"

[2017-01-22 20:38] noamoss opened #15 "create a header (draft)"
Desktop:

![image](https://cloud.githubusercontent.com/assets/3581741/22196503/1ccf64ee-e156-11e6-8d67-a6042dd1a7de.png)
http://framebox.org/Aasfn-VuZuqD

Admin:

Mobile:

[2017-01-22 20:39] noamoss opened #16 "create a footer (draft)"
Desktop:

![image](https://cloud.githubusercontent.com/assets/3581741/22196763/72255bdc-e157-11e6-8fdd-0b2896542fd9.png)

http://framebox.org/AasFH-HYqXtH

Admin:

Monile:

[2017-01-22 20:41] noamoss opened #17 "add a multilingual properties (draft)"

[2017-01-22 20:49] noamoss opened #18 "enable integration with external (previous) systems (draft)"
list of systems:

* תשלום ארנונה דרך תוכנת CITY PAY:
https://www.citypay.co.il/htmls_Heb/tofes_tashlum.asp?SId=9&LAMASID=909620

* רישום חתונות שיתקיימו בשטח הרשות  (google forms):
https://docs.google.com/forms/d/e/1FAIpQLSeOGXcmzYY4SSuuDJeVHusldVi3E2p2K3TrMb4nbYpUUXq1rQ/viewform

* zincity

* GIS

[2017-01-22 20:51] noamoss opened #19 "create forms module (draft)"
**scenario**: citizen does no really want to come to the city hall just to fill out a form and hand it. They would prefer to fill it through their mobile phone (or desktop).

The municipal authority worker would also prefer to take care of all the forms at the same time. They would also be glad to be able to create or edit the structure of internal forms (the municipal authority forms).

**Presump

[2017-02-01 07:34] RachelBaram opened #20 "POC of ״מרכזיה״"
Goal: Demonstrate the way the citizens consume the Muni's information and services.

Include several ways to access information:
1. per profile of the users (Citizen, Business, etc.)
2. services a-z list
3. search box with popular searches
4. Get it done list: from our research and requirements gathering  - the top are payments, sign children up for education institutions, request for transportati

[2017-02-01 17:29] noamoss opened #21 "Create "place" elements inside free text fields - Future integration with external GIS systems"
Users would like to see the places mentioned in the site content on the external GIS system (whatever it is).

When an admin / editor creates content with a geographical meaning (i.e. A place that might somehow be relevant for future presentation on a map), they will mark the relevant text as an 'place'. They won't do so by editing html manually, but using a simple gui.

Each 'address' data struct

[2017-02-02 14:19] bricel opened #22 "School /Kindergarden registration"
## This is how TLV do it:

### Send letter with QR code
link: https://www5.tel-aviv.gov.il/TlvChinuch/Login/Index?ReturnUrl=%2FTlvChinuch%2F
![img_20170202_161358714](https://cloud.githubusercontent.com/assets/165644/22552742/d901b69e-e962-11e6-8254-cae88902ee11.jpg)
![img_20170202_161411830](https://cloud.githubusercontent.com/assets/165644/22552743/da106d50-e962-11e6-9a9f-afb2bc3c7edb.jpg)

###

[2017-02-02 18:00] noamoss opened #23 "Evaluate DKAN [1.5h]"
Before we ask devs to check this distribution and its properties, we should spend some time to experience it.

We can use better use [this short term test-site](https://rgnll.ply.st/) (eventhough I have also created [this pantheon version](http://dev-muni-dkan.pantheonsite.io/) that does not work good enough yet.

Please include your impressions as follows:

**1. Pros:**
-as user:
-as admin:

**2.

[2017-02-02 18:01] noamoss opened #24 "Evaluate OpenPublic [1.5h]"
Before we ask devs to check this distribution and its properties, we should spend some time to experience it.

Please include your impressions as follows:

1. Pros:
-as user:
-as admin:

2. Cons:
-as user:
-as admin:

[2017-02-04 11:11] noamoss commented on #20
http://htmlpreview.github.io/?http://github.com/Gizra/Municipality/blob/master/poc/merkazia.html

Please notice:

1. Search mechanism is based on an editable list of questions.

Expected Data structure:
[code]

Search results to be displayed under our 3 sections categories: תושבים, עסקים, על הרשות המקומית.
 (could not use it in the attached examples, because of the restrictions of local search in

[2017-02-05 08:22] RachelBaram commented on #20
@noamoss

This does not sit right for me. "popular pages" is a mechanism that should help the admin decide what to put on "תושב״ or "עסק" pages or somewhere else on the homepage.  The "popular searches" has several advantages that I would not want to skip over because we don't have data.

[2017-02-05 08:40] RachelBaram opened #25 "Evaluate "other" distributions"
Here is a Drupal [list ](https://www.drupal.org/resource-guides/launching-government-website) - "a collection of resources used to build government websites around the world."

[2017-02-05 08:41] RachelBaram commented on #25
@noamoss There is a list here that includes #23 (DKAN) and #24 (Open Public) but others as well. Can you go over the list to see if any other distributions are worth evaluating?

[2017-02-05 10:33] noamoss opened #26 "Evaluate aGov [1h]"
Before we ask devs to check this distribution and its properties, we should spend some time to experience it.

Check here: https://dgnyo.ply.st/

Please include your impressions as follows:

Pros:
-as user:
-as admin:

Cons:
-as user:
-as admin

[2017-02-05 10:35] noamoss commented on #24
@IshaDakota @liatsade @RachelBaram please add your thoughts.

[2017-02-05 10:38] noamoss commented on #20
@RachelBaram I agree and like the idea. I will fix the markup. Please explain how would the "popular searches" list to be generated without having the data.

[2017-02-05 10:49] RachelBaram commented on #20
@noamoss There may not be a way. Is "popular searches" a standard feature? If yes, why is it important to populate with real information? Is there something in the process of building this feature that will raise questions to its logic or functionality? If not, let's not spend too much resources here. Your thoughts?

[2017-02-05 10:57] noamoss commented on #25
@RachelBaram thanks. I think [aGov](https://www.drupal.org/project/agov) is worth checking (we will do it in #26.

I also found [DataPublic](https://www.drupal.org/project/datapublic) possibly relevant, but it seems to be off. Also looked at the example site pf [https://www.drupal.org/project/wetkit](https://www.drupal.org/project/wetkit) and from my impression is that we won't find any added valu

[2017-02-05 10:58] noamoss commented on #25
@RachelBaram if you saw anything else you think is interesting, please open a saparate issue, and close this one.

[2017-02-05 11:05] noamoss commented on #20
@RachelBaram

I think there is: I am not worried about the POC step - one the site is up, and people will ask "How to pay Arnona" in 30 different ways. We won't have the real world data we need to mark it as a popular search. We want the feature, but need to find a way to offer it without handling Natural Language Processing.

[2017-02-05 13:39] liatsade commented on #23
Agree.

[2017-02-05 18:46] noamoss commented on #26
Following my discussion with Amitai today, no need for further checks, closing the issue.

[2017-02-05 18:46] #26 closed

[2017-02-05 18:48] noamoss commented on #25
Following my discussion with Amitai & Brice there is no need for further checks, closing the issue and will update separately.

[2017-02-05 18:48] #25 closed

[2017-02-05 18:49] noamoss commented on #24
Following my discussion with Amitai & Brice there is no need for further checks, closing the issue and will update separately.

[2017-02-05 18:49] #24 closed

[2017-02-05 18:49] noamoss commented on #23
@liatsade thanks.

Following my discussion with Amitai & Brice there is no need for further checks, closing the issue and will update separately.

[2017-02-05 18:49] #23 closed

[2017-02-06 07:19] noamoss commented on #20
@RachelBaram what aobut the next idea: After a user types a question, and choose (clicks) the answer+link to their wanted page, we will retrieve the page's title (instead of the query), and this will be displayed on the popular searchs list.

[2017-02-07 12:44] noamoss opened #30 "Contacts and public reception details"
**Scenario A: (appointment)**
a user wants to set an appointment is looking for details (relevant names, opening hours and specific address, instructions how to set a meeting) of to solve a specific issue ("I want to set a meeting to explain why you have to measure my yard again..."). he/she are not aware to the municipality's vacations and day offs - they should get indication if there is no poin

[2017-02-07 12:56] noamoss opened #31 "Info for cititzen: parking arangments"
a citizen has a working meeting on Monday 3:00pm in the city. He/she are indecisive whether to drive their with their car or catch a taxi. The are looking for the parking arrangements and options in the area.

[2017-02-07 13:03] noamoss opened #32 "Business licensing process"
**Scenario:**
A citizen is about to open a new business in the city. They want to understand:
1. Do they need to ask for a license for the business?
2. Requirements, the process and to plan and prepare all needed.

**real world data:**
1) [Kiryat malachi: process map + forms](http://k-m.org.il/%D7%A8%D7%99%D7%A9%D7%95%D7%99-%D7%A2%D7%A1%D7%A7%D7%99%D7%9D/)
2) [Who should order licensing guidelines

[2017-02-07 13:08] noamoss opened #33 "Workshop for business cooperation with Zoodle"
**Scenario:**
The municipality is organizing a special workshop for local business owners. They want to enable citizens:
1. To know about it.
2. To tell others about it.
3. Register (no need to pay).
4. Receive a reminder about it.
5. Approve / Cancel their participation.

** real world content:** [Kiryat Malachi workshop posts](https://drive.google.com/a/gizra.com/file/d/0BywXFPvKyUddbC1FREpfWHRL

[2017-02-07 13:28] noamoss opened #34 "Protocls and reports: archive, search and retrieve"
**Scenario A: Regular activity**:
The municipality is obligated legally to present the following reports and documents on the website:
1. Town council (up to 2 days when the meeting occurs) + an audio recording of the meeting
2. Municipal budget
3. Annual Municipal reports.
4. Freedom of Information Report.
5. Environmental data report

Responsible user should be able to publish the protocol/budge

[2017-02-07 13:32] noamoss commented on #22
Kyriat Malachi site:  https://www.eprsys.co.il/EPRPayments/hin/entery1?rshut=1250

[2017-02-07 20:42] noamoss opened #35 "Submission of applications for building permits"
A citizen would like to get permission to build his/her new home.

Building permit applications (ran by the Planning and Construction committee) is a long, complex and frightening process. Before it begins there is a list of preconditions, followed by a sequence of phases, involving sending and receiving forms, receipt of various officials and department.

**real world data/process:** http://k-m.o

[2017-02-07 20:54] noamoss commented on #20
added some real world queries to the description, as reported by munis representatives. Hope to have more soon.

[2017-02-07 21:17] noamoss commented on #14
duplicates #30 .

[2017-02-07 21:17] #14 closed

[2017-02-07 21:18] noamoss commented on #9
duplicates #34 .

[2017-02-07 21:18] #9 closed

[2017-02-07 21:41] noamoss opened #36 "Municipality structure"
**Scenario:** The municipal authority is obligated by law to present its organizational structure, including the departments lists, their responsibilities and contact persons.
A citizen should be able to enter the site and understand the different levels of the organization.
Notice this issue is related, but not identical, to #30 , as this feature is more descriptive and less functional for the ci

[2017-02-07 21:56] noamoss opened #37 "Municiapl Authorities Tenders"
**Scenarios:**
1) Business owner wants to become a service/commodity  provider. He/She would like to see all the open tenders on their fields and the procedure appliance procedure . They would also like to check past publications to consider if they should invest their time in the process.

Time plays a main factor in terms of deadline for appliance and in terms of expected date for service/commod

[2017-02-09 09:17] noamoss opened #38 "Create "contact" elements inside free text fields - to integrate with Merkazia & Organizational structure"
Enable admin to mark part of the text in the editor as a "contact" data, which will be available for further use cases:
* Merkazia #20
* Contacts list #30
* Municaplity structure #36

Each contact should have the following fields:
* first name
* last name
* phone number
* office address
* reception hours: {day_of_the_week1:[open_hour1-end_hour1,open_hour2-end_hour2,....], .... }
* fields of respon

[2017-02-09 09:20] noamoss opened #39 "Create "service" elements - to connect data cross wide"
create a content type of services to be used

data structure:
* title (srevice name)
* short description
* related department[s]: [department 1, department 2,....]
* url for further details
* connected worers (list of contacts, see #38).

[2017-02-09 18:33] noamoss commented on #11
duplicates #7

[2017-02-09 18:33] #11 closed

[2017-02-09 21:23] noamoss commented on #30
draft is ready.

[2017-02-09 21:23] #30 closed

[2017-02-09 22:02] noamoss commented on #30
![](https://github.trello.services/images/mini-trello-icon.png) [אנשי קשר](https://trello.com/c/Y5n3qtlQ/1--)

[2017-02-09 22:04] noamoss commented on #30
* [ ] transform main content block into a row on a wide screen view
* [ ] transform main content block into a column on a mobile view

[2017-02-12 08:57] noamoss commented on #13
@RachelBaram just recieved from al-qasum examples for tags, addded to the issue description.

[2017-02-12 12:16] liatsade opened #42 "Create Arnona page"
Has the following:

- FAQ
- To Do now
   * Pay Arnona
   * Download forms
   * Search Tax order
   * Contact Finance Department

[2017-02-13 10:40] noamoss commented on #13
Just saw this section in Hatzor Ha'glilit, which can be used is a great real-world content:

http://www.hatzorg.co.il/BRPortal/br/P105.jsp

[2017-02-14 08:27] RachelBaram opened #49 "Add "Feedback" feature/button to POC"

[2017-02-21 21:31] noamoss opened #61 "Tourist User Profile"

[2017-02-23 11:55] liatsade opened #62 "Create Initial Entities"
Create the basic entities, as described [here](https://docs.google.com/a/gizra.com/document/d/1wK5Vdm2Ejg59bUUVNkN0R5NxD3Y6QdE-mOVabdoGBGc/edit?usp=sharing):

<img width="423" alt="image" src="https://cloud.githubusercontent.com/assets/3581741/23591314/0e2941f0-01f7-11e7-8d48-8a82234b56c5.png">

* [x] Municipality group node --> #88
* [x] user Type Taxonomy --> #71
* [x] Topic Taxonomy --> #72
* [

[2017-02-23 13:23] RachelBaram opened #63 "Header"
![349596287243437169_3faccount_id_3d3__2048x1152_](https://cloud.githubusercontent.com/assets/14312543/23260625/5edc3982-f9db-11e6-8a85-a158f5a731cf.png)

Sketch of header that includes:
לוגו
תושב
עסק
תייר
הרשות שלי
מוקד הרשות
חפש
Accessibility
Language
Social Media

Note:
- The search box will not appear in the header on the homepage.
- The user profiles and language are like push buttons that th

[2017-02-23 14:07] RachelBaram opened #64 "Homepage Body"
![1579415577522553072_3faccount_id_3d3__1152x2048_](https://cloud.githubusercontent.com/assets/14312543/23261994/b5424400-f9e1-11e6-8ec2-297c1fcc8e34.png)

Includes:
Background picture - from the bottom the header to above the Announcements
חפש
שאלות נפוצות
עשה עכשיו
Announcements
News
Events

@noamoss @liatsade Please give your input so we can put this into Semantic UI. This needs some design hel

[2017-02-25 22:54] #15 closed, assigned to nobody

[2017-02-25 22:55] #16 closed, assigned to nobody

[2017-02-27 15:29] adamhstewart opened #68 "City of Boston Site"
Hey Municipality hacks,

I was reminded of [this site](http://www.boston.gov) when someone made a shoov.io inquiry.

It's an oft cited Drupal site (by Acquia) on UI for municipalities - obviously Boston is a pretty big city, but I think the site has a lot of UI elements that would be good food for though in your work.

(I didn't know where to put this to bring to your attention, so move elsewhere

[2017-03-02 15:13] #64 closed, assigned to noamoss, liatsade

[2017-03-02 15:23] #13 closed, assigned to nobody

[2017-03-02 15:24] #8 closed, assigned to nobody

[2017-03-02 15:24] #7 closed, assigned to nobody

[2017-03-02 15:25] #6 closed, assigned to nobody

[2017-03-02 15:31] #10 closed, assigned to nobody

[2017-03-02 15:31] #3 closed, assigned to nobody

[2017-03-02 15:32] #17 closed, assigned to nobody

[2017-03-02 15:32] #12 closed, assigned to nobody

[2017-03-02 15:33] #2 closed, assigned to nobody

[2017-03-02 15:43] noamoss opened #71 "Create User Type Taxonomy [2h]"
#62

Business / Resident / Tourist.

referenced by faq, news_and_announcements, action. event, basic_page.

[2017-03-02 15:50] noamoss opened #72 "Create a Topic Taxonomy [0.5h]"
#62

To include Topic Title

referenced by faq, news_and_announcement, action, event, basic_page, contact.

Should be able to define alternative phrases for internal search engine. Check [Synonyms ](https://www.drupal.org/project/synonyms) module.

[2017-03-02 15:52] noamoss opened #73 "Create a Hardcopy form Node [3h]"
#62

| Name | type | Description |
| ------| ----- | ------------|
| `field_title` | Text, required | form's name |
| `field_topic` | ER to `topic`, multiple | |
| `profile_type` | ER to `profile types`, multiple |
| `hardcopy` | file, required | (pdf / doc) |

[2017-03-02 15:56] noamoss opened #74 "create FAQ entity [2h]"
#62

entity fields:

| title | type | description |
| ---- | -----| ----------- |
| topic | ER to `topic`, singular, required ||
| profile type | ER to `profile type`, multiple, required ||
| question | text, required ||
| answer | text, required ||

[2017-03-02 16:00] noamoss opened #75 "create News And Announcement Node [5h]"
#62
entity fields:

| title | type | description |
| ---- | ----- | ----------- |
| `field_title` | text, required | |
| `field_topic` | ER to `topic`, multiple ||
| `profile_type` | ER to `profile type`, multiple ||
| `field_subtitle` | text | |
| `body` | text ||
| `image` | image ||
| `field_attached_file` | file ||
| `field_expiration_date` | date ||

[2017-03-02 16:10] noamoss opened #76 "Create "Action" content type [5h]"
#62

entity fields:

Name | type | description
-----|------- | -------------
`field_title` | Text, Required |
`field_topic` | ER to `topic`, multiple |
`field_profile_type` | ER to `profile type`, multiple |
`field_link` | Link | Use the Link module, as it can also link to internal pages
`Action section` | multifield | see below |

Action section's fields:

Name | type | description
-----|-------

[2017-03-02 16:14] noamoss opened #77 "create Basic Page Node [3h]"
#62

entity fields:

| title | type | description |
| ---- | ----- | ---------- |
| title | text, required ||
| topic | ER to `topic`, multiple ||
| profile type | ER to `profile type`, multiple, required ||
| body | text, required ||

[2017-03-02 16:19] noamoss opened #78 "create Tender Node [6h]"
#62
entity fields:

| label | type | description |
| ---- | ---- | ----------- |
| title | text, required | |
| department | ER to `department`, required ||
| publish date | date, required | notice - this is the official tender publish date, not node creation date|
| deadline| datetime, required ||
| extension | boolean | is this an extension of the original deadline?|
| requirements | text ||
| p

[2017-03-02 18:32] noamoss opened #79 "create Freedom Of Information node type [4h]"
#62

used for local rules, reports & protocols.

This is an OG content (each municipality has it's own directory of documents)

Name | type | description
-----|------- | -------------
`title` | Text, Required |
`field_published_date` | Date, Required |
`field_document` | File | Allowed: Doc, PDF
`field_audio` | File | Allowed: MP3, WAV, AVI
`field_alternative_phrase` | Text, Multiple | This would

[2017-03-02 18:50] noamoss opened #80 "create Contact entity [5h]"
#62

entity fields:

| title | type | definition |
| ---- | ---- | ---------- |
| `field_first_name` | text | |
| `field_last_name` | text ||
| `field_title` | text ||
| `field_department`| ER to `department`, required | if no first name nor last name, used as main key|
| image | image ||
| `field_email`| email | validate legal email address|
| `field_phone`| phone ||
| `field_fax`| text || phone

[2017-03-02 18:54] noamoss opened #81 "create Department taxonomy [1h]"
#62

list of muni dpeartments,

referred by contact, foi, tenders

[2017-03-02 18:56] noamoss opened #82 "Municipality Background Image [1h]"
#62

entity fields: image type field

[2017-03-02 22:28] noamoss opened #83 "Create Event Node [5h]"
entity fields:

| title | type | description |
| ----| -----| ------------|
| `field_title` | text, required | |
|`field_body`| text||
| `field_image`| image ||
| `field_routine`|Boolean, false default| whether the event is a weekly routine or not?|
| 'field_audience` | Select (text) | ״כל המשפחה״, ״מבוגרים״, ״נוער״, ״ילדים״, ״טף״ |
| `field_event_type` | Select (text) | TBA |
| `field_start_time`

[2017-03-05 10:35] amitaibu opened #84 "Validate Action has some data [2h]"
Issue also about having a validation, that if no data inside `field_link` or `field_action_section`, we show a `form_set_error`

[2017-03-06 11:37] bitamar opened #88 "Create municipality (group node) [2h]"
All the content types from #62 will be `group content` of the municipality node.

[2017-03-06 17:42] bitamar opened #93 "Make drupal and the migrations multilingual [1.5h]"

[2017-03-06 18:07] bitamar opened #94 "Deploy to pantheon [0.5h]"

[2017-03-07 09:16] #20 closed, assigned to noamoss, RachelBaram, liatsade

[2017-03-07 10:19] #94 closed, assigned to bitamar

[2017-03-07 10:26] bitamar opened #98 "Municipality homepage blocks [4h]"
- Display promoted content

<img width="1284" alt="localhost_3000_merkazia-homepage__" src="https://cloud.githubusercontent.com/assets/2283680/23652308/acf79c64-0328-11e7-9f69-871e9d109128.png">

[2017-03-07 11:18] bitamar opened #99 "What kind of translation should we use?"
We need to decide if we'll use entity_translation, or translate the fields (And use the `title` module). I already have (a not so good) experience with the second approach, when combined with restful (In circuit backoffice).
So I'm leaning more towards entity translation.

@bricel - What do you think?

[2017-03-07 11:22] noamoss opened #100 "create homepage [12h]"
(Time estimation do not include the creation of the relevant content types, mentioned below in followup issues)

Create strcuture
<img width="839" alt="image" src="https://cloud.githubusercontent.com/assets/3581741/23649961/09681be0-0329-11e7-94d3-f8e8c4cc9f86.png">

accessibility general rules:
* every image and link needs to include an "ALT" property
* page should include 'jump to main block' me

[2017-03-07 13:17] bitamar opened #102 "Remove core's comment module [0.5h]"

[2017-03-07 13:29] #102 closed, assigned to bitamar

[2017-03-07 13:48] bitamar opened #104 "Behat-test that content is visible to anonymous users [1h]"

[2017-03-07 14:04] bitamar opened #105 "Search topics also by "alternative phrases" [3h]"
Following up on #72

[2017-03-07 15:12] #74 closed, assigned to noamoss

[2017-03-09 08:56] #104 closed, assigned to bitamar

[2017-03-09 10:01] noamoss opened #112 "Create Topic Page [5h]"
(find semantic ui template in  'https://github.com/Gizra/Municipality/blob/master/static/src/arnona-template/index.html')

This template is based on Topic taxonomy (#92) filtered by 'contact type'(1) (#91) and 'language' selector (2).

Components:
3. page header (h1): topic 'title' (notice to replace by according to 'language')
* [ ] accessibility notice: 'jump to main content mechanism' should re

[2017-03-09 10:16] noamoss opened #113 "Default language per municipality [4h]"
OG admin should be able to set the default language for anonymous user

[2017-03-09 10:17] noamoss opened #114 "Default Taxonomies Terms between Groups [0.5h]"

[2017-03-09 17:39] bitamar opened #120 "Semantic UI subtheme [1h]"

[2017-03-10 12:27] #120 closed, assigned to nobody

[2017-03-10 12:47] bitamar opened #124 "Make all taxonomies per group [6h]"

[2017-03-11 18:05] noamoss opened #129 "Create action page/template [3h]"
Create an action page template, based on #76, connected to be integerated into topic template (#112):

(template file in `../static/src/arnona-template/action.html`)

<img width="688" alt="image" src="https://cloud.githubusercontent.com/assets/3581741/23831446/e65a4dbc-0729-11e7-92d6-e00e60f7b963.png">

* note: This page/template to be generated if `Action_section` is not empty. Otherwise `field_l

[2017-03-13 11:52] bitamar opened #131 "Enable groups subsites [2h]"
Use og_purl to create a subsite for each group. E.g. https://dev-municipality.pantheonsite.io/tuba-zangariyye - Which can be mapped to a domain or sub-domain later on.

[2017-03-13 12:33] #131 closed, assigned to bitamar

[2017-03-13 12:55] bitamar opened #133 "Header parts 1, 2, 7 [2h]"
Implementing parts of #100
- [x] `1)` Muni name (name is affected by the language selector (6)
- [x] `2)` Logo (+link to home page with the same `profile type` and `language` in the same tab.
- [x] `7)` social networks: optional (hard coded) links + icons to be opened in a new tab.

[2017-03-14 09:07] #93 closed, assigned to nobody

[2017-03-14 09:32] bitamar opened #138 "OG purl context isn't set on group's nodes when not on default language [2h]"
For example, when viewing a group's node in English the context is set:
http://dev-municipality.pantheonsite.io/node/5
<img width="762" alt="question____site-install" src="https://cloud.githubusercontent.com/assets/2283680/23893452/c4bf0a28-089e-11e7-87b0-eb86a8be1b21.png">

But not in Hebrew:
http://dev-municipality.pantheonsite.io/he/node/5
<img width="681" alt="_ _ _ _ ____site-install" src="ht

[2017-03-14 11:02] bitamar opened #139 "Language switcher [0.5h]"
Part of #100

[2017-03-14 18:28] noamoss opened #144 "Create Contacts Page Template display [10h]"
create a contacts list based on #80.

* example [template](https://github.com/Gizra/Municipality/blob/master/static/src/contacts/index.html) file:

![image](https://cloud.githubusercontent.com/assets/3581741/26046632/7cd3803c-3958-11e7-9a15-737222018e38.png)

# body parts:

1. [h2] static header: "אנשי קשר ועובדי הרשות" / ״اتصالات والموظفين في السلطات المحلية
1. filter row (see follow up #204 for

[2017-03-14 19:28] bitamar opened #145 "Header profile type selector [1h]"
Part of #100

[2017-03-15 09:02] noamoss opened #147 "Create Contact Item in Contacts page [2h]"
#144
(notice the result section to be sorted by last name first letter (ACS)
A follow up issue to describe each contact card structural design implementation:

<img src="https://cloud.githubusercontent.com/assets/3581741/23939449/61eed9f2-0969-11e7-8479-ee0a2a648139.png" height = 250px>

(All field names are referring to #80)

1. contact's `image`: if field is empty, hide the 'div'.
2. Name [h3]:

[2017-03-17 18:56] bitamar opened #156 "Error when saving empty entity reference on action's multifield [1.5h]"
The column `field_action_sections_field_section_hardcopy_form_target_id` allows null, but not empty string.
<img width="1345" alt="error___municipality" src="https://cloud.githubusercontent.com/assets/2283680/24058506/9939bd9e-0b4b-11e7-988d-722b6cce9810.png">

[2017-03-20 20:43] noamoss opened #161 "Add a Color Select Field to Topic Taxonomy [0.5h]"
#92

add a "topic color" select field, with 10 different colors to be used as a topic label color.

[2017-03-21 12:58] bitamar opened #163 "Display contact teasers on topic page [1.5h]"
Part of #112

[2017-03-21 14:36] amitaibu opened #164 "Allow having similar aliases for different PURLs [16h]"
site `foo` and site `bar` both want to have a `/contact` alias to a webform. Currently one will get `/contact-1`

We have solved it in OpenScholar by having the purl be inserted along with the alias (`/foo/contact` and `/bar/contact`). It's a little more convoluted than it may seem at first, and it requires some hand waving to make it work :)

It sounds like a nice candidate for a contrib (that de

[2017-03-25 19:37] #133 closed, assigned to nobody

[2017-03-26 18:31] #75 closed, assigned to noamoss

[2017-04-18 14:57] bitamar opened #177 "Font size controls [1.5h]"
Part of #100

[2017-04-18 18:43] bitamar opened #180 "Set node language according to the muni, and remove language selector [0.75h]"

[2017-04-19 08:06] bitamar opened #182 "Fix municipality logos migration [0.5h]"

[2017-04-19 08:54] bitamar opened #184 "Municipality accessibility page [2h]"
Part of #100

- Accessibility page reference on municipality
- Migrate an accessibility page per municipality
- Display the accessibility link when available

[2017-04-19 12:22] bitamar opened #186 "Footer elements [3h]"
Part of #100
- 'נגישות' text with link for accessibility instructions, to be opened in the same tab, same language.
- 'תנאי שימוש באתר' text for terms instructions, to be opened in the same tab, same language.
- extra text + link. same language.
- text 'האתר עודכן לאחרונה ב-' + date in dd/mm/yyyy format
- license text field

[2017-04-19 15:32] bitamar opened #188 "Notice in actions migration [0.5h]"
<img width="1312" alt="bildschirmfoto 2017-04-19 um 17 31 06" src="https://cloud.githubusercontent.com/assets/2283680/25188363/1b23e0de-2526-11e7-9fe0-de95a169649c.png">

[2017-04-19 15:42] bitamar opened #190 "Restful endpoint for searching muni content [5h]"
Needed for implementing the header search box

[2017-04-23 13:19] amitaibu opened #192 "Configure Travis [6h]"
Travis should support SimpleTest (instead of Behat that we will remove), and WDIO

[2017-04-23 13:20] amitaibu opened #193 "Scalable demo content [5h]"
Use devel generate (like we do [here](https://github.com/Gizra/circuit-bid/pull/160/files#diff-35e8bfd6f315a3aff63ac0db4a677a6aR283)) to create a more realistic site, that we could use for QA/ stress testing

[2017-05-04 11:27] #77 closed, assigned to nobody

[2017-05-04 11:29] #156 closed, assigned to nobody

[2017-05-04 11:29] #177 closed, assigned to nobody

[2017-05-04 11:29] #180 closed, assigned to nobody

[2017-05-04 11:29] #182 closed, assigned to nobody

[2017-05-04 11:30] #184 closed, assigned to nobody

[2017-05-04 11:30] #186 closed, assigned to nobody

[2017-05-04 11:30] #188 closed, assigned to bitamar

[2017-05-04 11:30] #72 closed, assigned to noamoss

[2017-05-04 11:30] #73 closed, assigned to nobody

[2017-05-04 11:30] #76 closed, assigned to nobody

[2017-05-04 11:30] #80 closed, assigned to nobody

[2017-05-04 11:30] #83 closed, assigned to nobody

[2017-05-04 11:30] #88 closed, assigned to noamoss

[2017-05-04 11:30] #98 closed, assigned to nobody

[2017-05-04 11:30] #113 closed, assigned to nobody

[2017-05-04 11:30] #139 closed, assigned to nobody

[2017-05-04 11:30] #145 closed, assigned to nobody

[2017-05-04 11:30] #161 closed, assigned to nobody

[2017-05-04 11:30] #163 closed, assigned to nobody

[2017-05-05 10:01] #82 closed, assigned to nobody

[2017-05-05 10:03] #99 closed, assigned to nobody

[2017-05-07 13:40] nedSaf opened #195 "Automatic tests for homepage current development [8h]"
[The list of automaic tests](https://docs.google.com/a/gizra.com/spreadsheets/d/1uWetl_zpz2LdKA_KstHUWlttHGKjBPaYaxxa0tkUIOw/edit?usp=sharing)

@noamoss I don't we should have a separate issue for each test, I have added my comments on the doc, finish up the tests and then we can estimate it.

[2017-05-08 07:31] nedSaf opened #196 "Fix site's default language and country [1h]"
* Default language now is English, should be changed to Hebrew.
* Add RTL patch to to the admin menu.
* Set default country as Israel.

@noamoss Please approve.

[2017-05-08 07:34] nader77 opened #197 "Change profile name [3h]"
Change profile name from `hedley` to `municipality`:
* Change custom module's names and filenames.
* Change default config.
* Change site's name.

@noamoss Please approve.

[2017-05-08 08:50] noamoss opened #198 "install coffee module [0.25h]"
to assist PM in navigating in menus and translating strings as part of the ongoing process:
https://www.drupal.org/project/coffee

[2017-05-08 10:42] liatsade opened #200 "Create real content in Munis sites [24h]"
Build topic page Emergency Preparedness:
- [ ] FAQ
- [ ] Do now
- [ ] Processes
- [ ] Relevant contacts
- [ ] Useful links

[2017-05-08 13:27] liatsade opened #202 "Add Links entity"
Some of the requirements for creating an emergency page on the muni site are links to relevant organizations (Pikud Haoref and rescue organizations)

![_ _ _-_google_drive](https://cloud.githubusercontent.com/assets/20393485/25806033/9cd1c14e-340a-11e7-9e66-b98bb15579aa.jpg)
![_ _ _-_google_drive](https://cloud.githubusercontent.com/assets/20393485/25806115/e1ade9aa-340a-11e7-8d16-c821d88f8db6.jpg

[2017-05-09 05:04] #202 closed, assigned to liatsade

[2017-05-09 05:19] noamoss opened #204 "Add search and filter functionality to contacts page [5h]"
#144

to filter dynamically cards displayed in the page, add a dynamic search mechanism to contacts list (using the [template](https://github.com/Gizra/Municipality/blob/master/static/src/contacts/index.html) file):

![image](https://cloud.githubusercontent.com/assets/3581741/26046818/7629c844-3959-11e7-943d-6059f742d8ac.png)

when user types characters, it reduces the number of cards displayed at

[2017-05-09 05:49] noamoss opened #205 "FOI page: add filterring functionality to page [6h]"
#34

The items displayed in each of the FOI page's columns should be set dynamically by the filter row values:

1. when user type a letter in the free search field items are filtered by boolean check, wether the input exist in either `title`,`field_published_date`,`field_alternative_phrase` or `field_department`

2. when user change <from> or <to> date range fields, the irrelevant items are not sh

[2017-05-09 06:24] noamoss opened #206 "example"

[2017-05-09 06:27] #206 closed, assigned to nobody

[2017-05-09 14:51] noamoss opened #209 "Set languages selector to include all relevant languages for each muni site [6h]"
Site admin should be able to define what are the relevant languages for the specific muni site, but Languages selector menu will consist/display only if there is at least one node created in that language.

If there is no more than one relevant language, the languages menu will not be displayed.

**automatic test:**
* Given I am an admin when I create a content in a new language that did not exist

[2017-05-09 15:14] noamoss opened #210 "Set user profiles selector to include all relevant user types for each muni site [4h]"
Site admin should be able to define what are the relevant user types for the specific muni site, but types selector menu will consist/display only if there is at least one node created for this user types.

If there is no more than one user type, the user types menu will not be displayed.

notice: FOI and Contacts list pages defines an exceptional behavior for this selector (#204, #205)

**Automat

[2017-05-11 14:16] noamoss opened #213 "New Theme: Create Open (current) Tenders display page (front end) [10h]"
followup of #78

use the new theme to impelement the page.
page address: ~/tenders

see example in: https://github.com/Gizra/Municipality/blob/master/static/src/open_tenders/index.html

# page structure:
![image](https://user-images.githubusercontent.com/3581741/27008735-709b0840-4e83-11e7-954a-8767e12cb801.png)

1. header: מכרזים פתוחים / المناقصات المفتوحة
2. search box
3. tenders (expiration da

[2017-05-11 14:20] noamoss opened #214 "rethink/investigate topic page [1h]"
https://dev-municipality.pantheonsite.io/municipality-1/taxonomy/term/10?language=he#

[2017-05-14 12:47] noamoss opened #216 "create a general events view (no filtering yet) [9h]"
![image](https://cloud.githubusercontent.com/assets/3581741/26055298/06717888-3979-11e7-83c8-674a8b78aebc.png)

display events by query: user + language

[2017-05-14 12:48] noamoss opened #217 "create news and updates display [2h]"
URL: [muni]/news

body part:

![image](https://user-images.githubusercontent.com/3581741/31988382-8bad8cac-b977-11e7-989a-c3225053c19c.png)

each item is the content title. Clicking it will move to the news/update node page (in other words - it is **not** an accordion).
notice the body should be full width.

[2017-05-14 15:07] nedSaf opened #218 "Add checks after "get current group" function in the code [1h]"
we might not have a node in `hedley_municipality_get_current_group()`, so code should cater for that.

[2017-05-14 18:35] #19 closed, assigned to nobody

[2017-05-14 18:36] #1 closed, assigned to nobody

[2017-05-14 18:38] #61 closed, assigned to nobody

[2017-05-15 09:48] amitaibu opened #219 "WSOD upon clean installation [2h]"
![admin___municipality](https://cloud.githubusercontent.com/assets/125707/26051992/bc0bad2e-396c-11e7-9fe9-72ee34a4a901.jpg)

[2017-05-16 11:16] #219 closed, assigned to nedSaf

[2017-05-16 12:01] amitaibu opened #223 "Add Elm app and wire to Drupal [6h]"

[2017-05-18 19:07] #223 closed, assigned to amitaibu

[2017-05-18 19:21] amitaibu opened #227 "Restore Node view override [1h]"
Seems that in the Elm app, I've search/ replaced too much and the node view now has wrong plugins.

![node_template___municipality](https://cloud.githubusercontent.com/assets/125707/26219632/5a8120da-3c18-11e7-9b08-4b8acc611ad2.jpg)

[2017-05-21 07:47] #138 closed, assigned to nobody

[2017-05-21 09:25] noamoss opened #229 "improve event date/time textual structure [2h]"
following https://github.com/Gizra/Municipality/pull/225#issuecomment-302923819

fix events date/time text structure on display (also relevant for #8 ):

[start_date], [start_time] - [end_date], [end_time]

---
[start_date]
_comment: always_

[", "+ start_time)]
_cooment: only if starting time was included in the content_

 " - " + [end_date]
_comment: only if end_date is included in the content_

[2017-05-21 11:43] nedSaf opened #230 "simpleTest implementation."
This issue is to decide about when we are going to implement simpleTests.

[2017-05-21 12:57] #230 closed, assigned to nedSaf

[2017-05-21 13:44] amitaibu opened #233 "Add Travis for elm unit tests, simpleTests and WDIO [2h]"

[2017-05-21 15:21] nedSaf opened #235 "Fix randomly failing test [1h]"
https://travis-ci.com/Gizra/Municipality/jobs/76352527#L688-L690

[2017-05-21 16:58] amitaibu opened #236 "Add OG-Context access plugin [1h]"
With the CTools plugin we would be able to deny access to e.g. `/contact` when it's outside of an OG group.

[2017-05-21 17:32] amitaibu opened #238 "Remove hedley_municipality_get_current_group() in favor of og_context [3h]"
This is not a blocker, but we should let og-context do the heavy lifting, instead of directly calling OG context handlers.

I'd start with updating OG to latest dev, enabling OG-purl and then convert [hedley_municipality_og_context__access_check ](https://github.com/Gizra/Municipality/pull/237/files#diff-4594cb0ae3ecac66c97a914d33d1b863R18) to use `og_context()` instead.

![og_context___municipali

[2017-05-22 11:35] #192 closed, assigned to AronNovak

[2017-05-22 14:57] nedSaf opened #242 "Improve promoted content HTML [2h]"
The plugin `promoted_content` uses render node, which is hard to theme in Semantic UI, the plugin's template should do all the theming.

@noamoss I think this really low priority until we get the desired final design, just adding it to keep it as a reminder, you can add it to my column.

[2017-05-22 15:50] noamoss opened #244 "Choose/Investigate Theme [2h]"

[2017-05-25 16:07] amitaibu opened #249 "Fix elm-test [0.5h]"
@nader77 https://github.com/Gizra/drupal-elm-starter/pull/110 -- this should fix all the client help. MWG

[2017-05-25 16:15] #249 closed, assigned to nedSaf

[2017-05-28 04:38] nedSaf opened #251 "Improve general getnodes function. [2h]"
* Improve function to be an API function.
* Add a simpleTest to this function.

[2017-05-29 07:29] #22 closed, assigned to RachelBaram, liatsade

[2017-05-29 10:58] liatsade opened #254 "News title on topic page is not a link [1h]"
News titles in topic page should be a link to the node (like in home page).

![_ _ ___municipality](https://cloud.githubusercontent.com/assets/20393485/26547261/cf8337d6-4476-11e7-8538-97cb04916bdc.jpg)

[2017-05-29 11:43] liatsade opened #255 "Promote to front page shouldn't be default [1h]"
For all content types `Promoted to front page` should be unchecked as default.

![create_action___municipality](https://cloud.githubusercontent.com/assets/20393485/26548497/25ec6330-447d-11e7-973e-870709758e50.jpg)

[2017-05-29 11:51] liatsade opened #256 "Event does not appear in topic page [3h]"
I've created event reference to topic page and it doesn't display.

http://test-municipality.pantheonsite.io/municipality-2/node/77/edit?destination=admin/content%3Flanguage%3Dhe&language=he
![edit_event_ _ _ _ _ ___municipality](https://cloud.githubusercontent.com/assets/20393485/26548645/e0842660-447d-11e7-80be-a9eee1b85868.jpg)

http://test-municipality.pantheonsite.io/municipality-2/taxonomy/t

[2017-05-29 11:58] liatsade opened #257 "FAQ item does not appear in topic page [3h]"
I've created FAQ reference to topic page, the FAQ block appears, but the item doesn't.

http://test-municipality.pantheonsite.io/municipality-2/node/78/edit?destination=admin/content%3Flanguage%3Dhe&language=he
![edit_faq_ _ _ _ _ _ ____municipality](https://cloud.githubusercontent.com/assets/20393485/26548950/2fe1a9fc-447f-11e7-8826-2f6520d4f75a.jpg)

http://test-municipality.pantheonsite.io/muni

[2017-05-29 12:06] liatsade opened #258 "Content missing in long text fields when editing [5h]"
Example for FAQ, but it's happening also in other content types.

http://test-municipality.pantheonsite.io/municipality-2/node/78?language=he
![_ _ _ _ _ ____municipality](https://cloud.githubusercontent.com/assets/20393485/26549171/51f31566-4480-11e7-995b-c9ac6079e1e6.jpg)

![edit_faq_ _ _ _ _ _ ____municipality](https://cloud.githubusercontent.com/assets/20393485/26549116/174c0d82-4480-11e7-948e

[2017-05-29 13:05] liatsade opened #259 "Fields order in content type [2h]"
@noamoss @RachelBaram
For better UX I think the common fields (topic, user type, group) should appear in the edit page on the same order in all content type.

[2017-05-29 13:21] liatsade opened #260 ""Action" link not working as it should on topic & home page [4h]"
1. When entering value to the `link` field, the title should lead to the url.
Now we get incorrect url:
![edit_action_ _ _ _ _ ___municipality](https://cloud.githubusercontent.com/assets/20393485/26551054/68b14e04-4489-11e7-9de0-233ae23b1ff8.jpg)

![_ _ ___municipality](https://cloud.githubusercontent.com/assets/20393485/26551118/a3c1f8e0-4489-11e7-8731-0a931be6af72.jpg)

2. When entering value to

[2017-05-29 19:53] #244 closed, assigned to noamoss, RachelBaram, liatsade

[2017-05-29 19:58] #214 closed, assigned to liatsade

[2017-06-01 06:34] nedSaf opened #262 "contacts/events pages renaming [2h]."
We need to change the singular deceleration of `event` & `contact` to plural in the following places:
* Page name.
* Elm functions names.

[2017-06-01 10:14] #256 closed, assigned to noamoss, liatsade

[2017-06-01 10:15] #62 closed, assigned to noamoss

[2017-06-01 10:25] nader77 opened #263 "Header: Add social icons class for Muni. [2h]"

[2017-06-01 10:28] #257 closed, assigned to nedSaf

[2017-06-01 10:49] nedSaf opened #264 "Fatal error when not choosing a group on group content creation [1h]"
![error___municipality](https://cloud.githubusercontent.com/assets/7369740/26676608/138a28d4-46d1-11e7-9abf-24b6ced5cfea.jpg)

[2017-06-01 11:08] noamoss opened #265 "Create mega search endpoints on Backend [6h]"
For each Municipality, we should be able to searh over the following:

notice to add different results per language (so, for example, searching in Hebrew mode will show only content translated into Hebrew).

(current end ponts):

-  Topics:
-- Title
-- topic page address
-- QA related to the topic
-- News related to the topic
-- Contacts related to the topic
-- Actions related to the topic.

- Dep

[2017-06-01 11:08] noamoss opened #266 "Create Mega search look for the homepage [5h]"

[2017-06-01 11:10] noamoss opened #267 "Create Mega search Results Page [5h]"

[2017-06-01 11:15] noamoss opened #268 "subdomain discovery phase [4h]"
each muni should have a separate sub domain. We need to explore and decide of the right method to implement it.

[2017-06-01 13:07] noamoss opened #271 "Hide "group audience" field from a muni editor user [4h]"
#264 #270

When a user is defined as a "muni editor", meaning, has permissions only in a specific muni (domain) site- they should be able to see, nor choose, other municipalities on any admin view for:
1. nodes
2. taxonomies
3. users/roles management

[2017-06-01 13:52] #254 closed, assigned to liatsade

[2017-06-01 17:00] noamoss opened #273 "Event Element: Align "Further Details" buttun by card's bottom edge [2h]"
following https://github.com/Gizra/Municipality/pull/261#issuecomment-305425351
<img width="326" alt="image" src="https://cloud.githubusercontent.com/assets/3581741/26691059/7078d22e-4704-11e7-8ab9-4a9d73e65e3c.png">

Event cards "Further details" button should be cenetered in the bottom of the card.

[2017-06-04 06:12] noamoss opened #274 "add a location field to event entity [6h]"
#83 https://github.com/Gizra/Municipality/pull/261#issuecomment-306019770

Add location as a link field (to be linked to a map provider, i.e. google maps), and the title will be the text displayed on screen. for example:

The location field to be visible in the events list screen cards:

<img width="158" alt="image" src="https://user-images.githubusercontent.com/3581741/27178714-0c815798-51d4-11e7

[2017-06-04 09:31] nader77 opened #275 "Add simpleTest for getting events by language [2h]"
Dependent on #258

[2017-06-06 10:06] noamoss opened #279 "install RTLCSS to imrpove strings displays [2h]"
https://github.com/Gizra/Municipality/pull/276#issuecomment-306426200

install https://github.com/MohammadYounes/rtlcss

[2017-06-06 11:32] nedSaf opened #281 "Move comma to translations in the contact card [0.5h]"
See: https://github.com/Gizra/Municipality/pull/276/files/68f5c1d0c6408b57e229cc8ac7c18cca370541ab#r120322792

[2017-06-07 09:10] savyoncohen opened #284 "Error when editing a news node [3h]"
![selection_106](https://user-images.githubusercontent.com/18241741/26870928-364c3742-4b7a-11e7-9dd6-78308faee0ec.png)

[2017-06-07 15:23] #71 closed, assigned to nobody

[2017-06-07 15:24] #196 closed, assigned to nobody

[2017-06-07 15:28] #198 closed, assigned to nobody

[2017-06-07 15:30] #242 closed, assigned to nobody

[2017-06-07 15:32] #262 closed, assigned to noamoss

[2017-06-07 15:32] #264 closed, assigned to noamoss

[2017-06-07 15:34] #229 closed, assigned to noamoss

[2017-06-08 05:53] #144 closed, assigned to nedSaf

[2017-06-08 05:54] nedSaf opened #288 "Improvements to Contacts page. [9h]"
A follow up to #144

- [ ]  The static header is missing. [1h]
- [ ]  The contacts are ordered by lastname DESC, should be ASC. [2h]
- [ ] Search button. [1h]
- [ ]  The search and contacts cards doesn't look as the design.  [4h]
see https://github.com/Gizra/Municipality/blob/master/static/src/contacts/index.html
- [ ] The label/test `קבלת קהל` is missing [1h]

[2017-06-08 06:07] nader77 opened #290 "Corrupted Contacts data being sent to Elm [3h]"
See. https://github.com/Gizra/Municipality/issues/147#issuecomment-306732540

[2017-06-08 07:21] noamoss opened #292 "event display does not translate [2h]"
#216 qa check results:

http://test-municipality.pantheonsite.io/municipality-4/events?language=en

[2017-06-08 07:26] noamoss opened #293 "events list design [4h]"
#216 qa check results:

-->
please implement the semantic ui styles, as it is the design, with the following notes:

* cursor should changed to a pointer only when hovering a link (i.e. the more details button, linked location,
* we will just go with at static header of אירועים (giving up on `profile_type` in the header).

![image](https://cloud.githubusercontent.com/assets/3581741/26055298/067178

[2017-06-08 07:26] #216 closed, assigned to noamoss

[2017-06-08 07:55] noamoss opened #294 "Topics List per Muni [10h]"
https://github.com/Gizra/Municipality/issues/124#issuecomment-306755251

Topics (not all taxonomies!) should be created, deleted and renamed separately per group's editors. editor from one group will not be able to see or edit, topics from other group.

[2017-06-08 10:54] #292 closed, assigned to noamoss

[2017-06-08 12:31] nader77 opened #296 "Action title not showing on topic page [5h]"
http://test-municipality.pantheonsite.io/municipality-4/taxonomy/term/20?language=he

@noamoss Please add estimation.

[2017-06-08 12:31] #260 closed, assigned to noamoss, nedSaf

[2017-06-08 13:18] nader77 opened #298 "Improve language switcher tests. [0.5h]"

[2017-06-11 06:07] noamoss opened #300 "New Theme: Create Previous (past) Tenders display page (front end) [10h]"
(followup of #78)

User the new theme to implement the new page.

page address: ~/past_tenders

example: https://github.com/Gizra/Municipality/blob/master/static/src/closed_tenders/index.html

# page structure:

![image](https://user-images.githubusercontent.com/3581741/27008748-d50e557a-4e83-11e7-96a2-8eda3c0c35bb.png)

1. header: מכרזים קודמים / المزادات السابقة
2. search box
3. tenders (expirat

[2017-06-11 06:09] #195 closed, assigned to nedSaf

[2017-06-11 06:10] #100 closed, assigned to nobody

[2017-06-11 11:56] noamoss opened #303 "static site: simplify & split open/past tender pages [2h]"
split the old static tenders page into an open and a closed tender pages - no search mechanism for the meanwhile.

open tenders:
<img width="593" alt="image" src="https://user-images.githubusercontent.com/3581741/27009431-23403264-4e97-11e7-9e2d-16b437eefafa.png">

closed tenders:
<img width="584" alt="image" src="https://user-images.githubusercontent.com/3581741/27009437-34df4a64-4e97-11e7-8631-9

[2017-06-11 12:38] noamoss opened #305 "Static Site: add topics links to Homepage [2h]"
enable #92 to be available of users on the homepage

[2017-06-11 12:51] liatsade opened #306 "Add tenders, reports, protocols and regulations to homepage."
We should decide how (and if) to add links from homepage to tenders, reports, protocols and regulations.

[2017-06-11 14:26] #305 closed, assigned to liatsade

[2017-06-12 05:31] #78 closed, assigned to nobody

[2017-06-12 05:32] #81 closed, assigned to nobody

[2017-06-12 05:32] #227 closed, assigned to nobody

[2017-06-12 05:33] #79 closed, assigned to nobody

[2017-06-12 05:33] #236 closed, assigned to nobody

[2017-06-12 05:34] #235 closed, assigned to nobody

[2017-06-12 05:35] #210 closed, assigned to savyoncohen

[2017-06-12 05:35] #209 closed, assigned to nobody

[2017-06-12 05:36] #251 closed, assigned to nobody

[2017-06-12 05:36] #218 closed, assigned to nobody

[2017-06-12 05:41] nedSaf opened #307 "Allow multiple Elm apps on the same page [5h]"
To allow adding events on the topic page.

See https://github.com/Gizra/Municipality/pull/225#issuecomment-307642355

[2017-06-12 05:42] noamoss opened #308 "set default page on muni site [2h]"
when user browse to a muni site, he/she should be automatically redirected to the homepage node, with the default language and user type (i.e. http://test-municipality.pantheonsite.io/municipality-1/node/1?language=he).

(Implementation might be relevant for the discussion in #268)

[2017-06-12 06:13] noamoss opened #310 "accesibility: add a contrast icon [1h]"
<img width="270" alt="image" src="https://user-images.githubusercontent.com/3581741/27021173-434595f0-4f4f-11e7-89a6-1ef31e5e6771.png">

* add 2 separator lines
* add contrast icon

followup for contrast

[2017-06-12 06:20] noamoss opened #311 "define minimum contrast display criterias (css) [4h]"
[Further documentation](https://www.w3.org/TR/2016/NOTE-UNDERSTANDING-WCAG20-20161007/visual-audio-contrast-contrast.html)

Deafult/minimum contrast status:

* [ ] The visual presentation of (regular) text and images of text has a contrast ratio of at least 4.5:1,
* [ ] Large Font (18 point or 14 point bold) have a contrast ratio of at least 3:1

(exception: Text that is part of a logo or brand na

[2017-06-12 06:20] noamoss opened #312 "define enhanced contrast display criterias (css) [4h]"
[Further documentation](https://www.w3.org/WAI/GL/2016/WD-UNDERSTANDING-WCAG20-20160105/visual-audio-contrast7.html)

* [ ]  (Regular) has a contrast ratio of at least 7:1
* [ ]  Large-scale text (with at least 18 point or 14 point bold or font size) have a contrast ratio of at least 4.5:1;

----
Tools for check:
[chrome extension](https://chrome.google.com/webstore/detail/color-contrast-analyzer/

[2017-06-12 06:20] noamoss opened #313 "accessibilty contrast [3h]"
Contrast has two state:

* default (minimum)
* enhanced (maximum)

when user clicks the contrast adjust icon on header, page display changes accordingly.
move on to #311  #312 for css implementation of these two states.

[2017-06-12 07:57] noamoss opened #315 "hide the users login block on all pages [1h]"
<img width="783" alt="image" src="https://user-images.githubusercontent.com/3581741/27024089-ea5cb554-4f5d-11e7-8c54-807f63a5b305.png">

[2017-06-12 08:24] #21 closed, assigned to nobody

[2017-06-12 08:24] #63 closed, assigned to RachelBaram, liatsade

[2017-06-12 08:30] noamoss opened #316 "Action node/page, implement static design [5h]"
https://github.com/Gizra/Municipality/blob/master/static/src/kindergarten/index.html

<img width="921" alt="image" src="https://user-images.githubusercontent.com/3581741/27025166-2b90c0a2-4f62-11e7-86fe-5be54c6021db.png">

[2017-06-12 08:32] noamoss opened #317 "News node/page, implement static design [5h]"
https://github.com/Gizra/Municipality/blob/master/static/src/news-and-announcement/index.html

<img width="696" alt="image" src="https://user-images.githubusercontent.com/3581741/27025347-d5671630-4f62-11e7-8d5d-387a9f6a152d.png">

[2017-06-12 10:32] noamoss opened #319 "New Theme: Reports list, implement static design [8h]"
use the new theme to create a new page
page address: ~/reports :  (link to updated after #301 to be merged)

see example in: https://github.com/Gizra/Municipality/blob/master/static/src/reports/index.html

<img width="812" alt="image" src="https://user-images.githubusercontent.com/3581741/27026483-8c88581c-4f66-11e7-9766-51455db2577e.png">

Static Page Elements:
1) page title: מאגר הדו״חות / تقاري

[2017-06-12 10:48] noamoss opened #320 "New Theme: Protocols list, implement static design [8h]"
create a new page, based on the new theme.

page address: /protocols

see example in: https://github.com/Gizra/Municipality/blob/master/static/src/protocols/index.html

<img width="794" alt="image" src="https://user-images.githubusercontent.com/3581741/27030192-fe5f488a-4f73-11e7-8e50-43f119614495.png">

Static Page Elements:
1) page title: מאגר הפרוטוקולים / بروتوكولات الأسهم

| no. | element | t

[2017-06-12 10:51] noamoss opened #321 "New Theme: create a Regulation and rules list, implement static design [8h]"
use the new theme to build the page.
page address: /regulations

see example in: https://github.com/Gizra/Municipality/blob/master/static/src/regulations/index.html

<img width="815" alt="image" src="https://user-images.githubusercontent.com/3581741/27030607-9db16016-4f75-11e7-967a-2486675f90fb.png">

Static Page Elements:
1) page title: أنظمة قواعد البيانات واللوائح / מאגר תקנות וחוקי עזר

| no.

[2017-06-12 11:09] amitaibu opened #322 "Elm as blocks [5h]"
Allow having multiple Elm apps in same page. For example, to have a teaser of the events

[2017-06-12 11:14] #307 closed, assigned to nedSaf

[2017-06-12 12:51] noamoss opened #324 "udpate header design: add my muni link [3h]"
<img width="788" alt="image" src="https://user-images.githubusercontent.com/3581741/27034484-8e1d6f62-4f86-11e7-98bd-ed2932af319e.png">

- each row divided by 3/10/3 ratio
- add "הרשות שלי" link
- add a field to set ״הרשות שלי" page url
- move the "106" button to be next to the new "הרשות שלי" button
- all external links to be opened in a new tab (target="_blank")

(notice "הרשות שלי" is an intern

[2017-06-12 13:31] #205 closed, assigned to nedSaf

[2017-06-13 07:51] liatsade opened #329 "Same theme for all administration pages"
The `edit` node page doesn't look very clear in our current theme.
![edit_municipality_ - __hebrew____municipality](https://user-images.githubusercontent.com/20393485/27071547-19da3824-5026-11e7-802c-be1e9ad2bc1b.jpg)

To avoid css work on edit page (and other administration pages that don't have the `admin/*` path), it is better if we use Seven theme for all administration pages.

Here are two mo

[2017-06-13 08:55] nedSaf opened #331 "Events page + events block: Get only upcoming events. [3h]"
- Get only upcoming events from the "get events by group" function.
- Add a test.

--
update (following https://github.com/Gizra/Municipality/issues/333#issuecomment-311375630):
- change order (both on homepage and in events page) to ASC

[2017-06-13 09:53] #279 closed, assigned to nedSaf

[2017-06-13 18:30] noamoss opened #333 "New Theme: Homepage body [7h]"
Switch current semantic-ui muni homepage into the new theme:

<img width="564" alt="image" src="https://user-images.githubusercontent.com/3581741/27184294-71afcff8-51ea-11e7-835f-22938d48c567.png">

see the static html file:

https://github.com/Gizra/Municipality/blob/master/static/src/merkazia-homepage/index.html

keep the general blocks:

1. Q&As
1. Actions
1. News
1. Events (Sort by date, ACS)

[2017-06-13 18:31] noamoss opened #334 "New Theme: Topic Page [6h]"
transfer the semantic-ui design into the new theme:

keep the current order:

1. h1 header  - topic title
2. news and updates (title in h2)
3. FAQ (title in h2)
4. actions (title in h2)
5. events (title in h2)
6. contacts (title in h2)

see the current static html file: https://github.com/Gizra/Municipality/blob/master/static/src/arnona-template/index.html

[2017-06-13 18:33] noamoss opened #335 "New Theme: Action Pages [5h]"
transoform old semantic-ui page into the new theme:
<img width="659" alt="image" src="https://user-images.githubusercontent.com/3581741/27185635-aa07e788-51ee-11e7-9376-af74661eb31d.png">

static html example: https://github.com/Gizra/Municipality/blob/master/static/src/resident_certificate/index.html

components:
1. H1 action title

steps components:
----
2. step icon + title
3. step body
4. sepa

[2017-06-13 18:33] noamoss opened #336 "New Theme: News Item Page [6h]"
#Use the new theme for a News node page:

<img width="792" alt="image" src="https://user-images.githubusercontent.com/3581741/27184964-7660b4e8-51ec-11e7-976e-eacaf42820b0.png">

static html example: https://github.com/Gizra/Municipality/blob/master/static/src/news-and-announcement/index.html

1. Static Title: ״חדשות והודעות״
2. Dynamic Title
3. label: "פורסם בתאריך: " + dynamic date (publish date

[2017-06-13 18:35] noamoss opened #337 "New Theme: Basic Page [3h]"
Create a basic page design by new the theme (for #77), for title and body.

similar design to #336

static html example file: https://github.com/Gizra/Municipality/blob/master/static/src/news-and-announcement/index.html

---

Sanity / Automatic tests: https://github.com/Gizra/Municipality/issues/396

[2017-06-13 18:36] noamoss opened #338 "New Theme: Site Header [9h]"
use the new "Porto" Theme to rebuild the site's header:

<img width="449" alt="image" src="https://user-images.githubusercontent.com/3581741/27183628-f6002300-51e7-11e7-87ef-d233537027e8.png">

see the static html example: https://github.com/Gizra/Municipality/blob/master/static/src/_includes/header.html

- each row divided by 3/10/3 ratio
dynamic components:

1) muni name
2) muni logo (image) - l

[2017-06-13 18:37] noamoss opened #339 "New Theme: Footer [6h]"
swtich site's footer from previous semantic-ui into the new theme:
<img width="591" alt="image" src="https://user-images.githubusercontent.com/3581741/27184686-8775acee-51eb-11e7-92da-dfee1f087061.png">

see current static html example: https://github.com/Gizra/Municipality/blob/master/static/src/_includes/footer.html

1. Body (long text with WYSIWG)
1. Site last update: (Date, dd.mm.yy) - site's

[2017-06-13 18:37] noamoss opened #340 "New Theme: Open Tenders Page [??]"

[2017-06-13 18:38] noamoss opened #341 "New Theme: Past Tenders [??]"

[2017-06-13 18:38] noamoss opened #342 "New Theme: Protocols Pages [??]"

[2017-06-13 18:39] noamoss opened #343 "New Theme: Regulations and Rules Page [??]"

[2017-06-13 18:40] noamoss opened #344 "New Theme: Reports Page [??]"

[2017-06-13 18:41] noamoss opened #345 "New Theme: Contacts List Page [8h]"
![image](https://cloud.githubusercontent.com/assets/3581741/26046632/7cd3803c-3958-11e7-9a15-737222018e38.png)

remember to implement the following QA feedbacks (from #288) on the current page:
- [x]  The static header is missing. [1h]
- [x]  The contacts are ordered by lastname DESC, should be ASC. [1h]
- [x]  The search and contacts cards doesn't look as the design --> just make sure all fields

[2017-06-13 18:41] noamoss opened #346 "New Theme: Events List Page [7h]"
Switch the old smenatic-ui page into the new page.

set header to be "אירועים"

<img width="419" alt="image" src="https://user-images.githubusercontent.com/3581741/27186473-1e89a11c-51f1-11e7-808a-03d097f9e62d.png">

don't forget to include the new 'location' field, added in #274 , and notice homepage QA feedback on #435

[2017-06-14 07:22] amitaibu opened #347 "Overrides Panels default style render [0.5h]"
We've done it in other projects

https://github.com/Gizra/Danel/blob/a2907ce3f822dbea0196aa9d9af26185bb9740e8/themes/danel_theme/template.php#L311-L320

[2017-06-14 07:34] nader77 opened #348 "Add OG membership to migration. [3h]"
- Add more demo users.
- Add OG membership to each user.
- Add different roles to different users.
- Update test to use demo users and not use `Admin`.

[2017-06-14 07:44] amitaibu opened #349 "Extend filter of events [2h]"
AFAIK we wanted to allow filtering by different parameters (e.g. the department of the contact).

This can be easily achieved by adapting for example [this function](https://github.com/Gizra/Municipality/blob/fdeea16149fef702c7ee9b8b7f907aea07f0e050/elm-app/src/elm/Contact/Utils.elm#L19) to check also for department. Something like:

[code]

@noamoss please assign if you think it's still needed

[2017-06-14 08:07] #347 closed, assigned to nedSaf

[2017-06-14 11:19] nader77 opened #350 "Discovery phase for Bootstrap theme [4h]"
https://themeforest.net/item/porto-responsive-drupal-7-theme/5219986?s_rank=1

[2017-06-14 15:31] noamoss opened #353 "Add events (ELM) to a topic page [6h]"
following https://github.com/Gizra/Municipality/issues/112#issuecomment-308397285

PR: #330

[2017-06-14 17:55] noamoss opened #355 "create a textual accessibility decleration page [2h]"
Required page in each muni site:
https://www.aisrael.org/?CategoryID=2915&ArticleID=44588

[2017-06-15 09:01] amitaibu opened #356 "Add WDIO test to check Muni's home page [1h]"

[2017-06-15 10:37] liatsade opened #357 "Add an edit link next to the content in panel view [8h]"
For role with edit permission:  when panel page is display (i.e `home page`, `Topic page`, etc.), show edit link next to every node title, that leads directly to the edit node page.

[2017-06-15 10:44] liatsade opened #358 "Editor menu [2h]"
Create editor menu (or use the exist administration menu) with only these options:
Add content -> `/node/add`
Content -> `/admin/content`

[2017-06-15 10:59] nader77 opened #359 "Replace topics Behat test with WDIO test [1.5h]"

[2017-06-15 13:40] #324 closed, assigned to nobody

[2017-06-15 14:00] #281 closed, assigned to ItamarGronich

[2017-06-15 14:41] #288 closed, assigned to ItamarGronich

[2017-06-15 14:42] #310 closed, assigned to nobody

[2017-06-16 08:03] #303 closed, assigned to nobody

[2017-06-16 13:46] noamoss opened #362 "Accessibility: Keyboard Navigation and Main Content Definition [3h]"
This issue related to section [2.4.1](https://www.w3.org/TR/WCAG20/#navigation-mechanisms) in WCAG 2.0 guidelines.

* [ ] add a "SkipTo" mechanism, to enable keyboard navigator and screen reader users to skip header, right to the main content of the page.

note: the Israel Internet Association [reccomends](http://www.nagish.org.il/?page_id=3367) the [ SkipTo plugin by PayPal Accessibility Team](ht

[2017-06-18 06:43] #308 closed, assigned to ItamarGronich

[2017-06-18 07:47] amitaibu opened #363 "Make Repo public [0.5h]"
Just need to confirm Travis is working and update Travis badge.

Doing it for all the right reasons :)

[2017-06-18 08:39] nader77 commented on #363
Repo is public, please close if ok.
![gizra_municipality](https://user-images.githubusercontent.com/7369740/27259377-c05e99e0-541a-11e7-92fd-e3feae12201d.jpg)

[2017-06-18 08:42] savyoncohen commented on #294
@noamoss Can close this and open up a follow up issue to test permissions after OG roles and permissions will be setup.

[2017-06-18 08:42] savyoncohen commented on #258
@amitaibu I ment to open a new issue about that.

[2017-06-18 08:46] savyoncohen opened #364 "A notice after creating a new node [2h]"
Examples : creating **FAQ** or **News** content types:
![selection_325](https://user-images.githubusercontent.com/18241741/27259410-9bba57a4-541b-11e7-8880-f30c9e2692b1.png)
![image](https://user-images.githubusercontent.com/18241741/27259418-b9339d5e-541b-11e7-9c69-fe53e625c6d8.png)

[2017-06-18 08:46] #322 closed

[2017-06-18 08:47] savyoncohen commented on #364
@noamoss Please add time boxing and assign

[2017-06-18 08:48] amitaibu commented on #364
@savyoncohen no, please add a timeboxing yourself. Whoever opens an issue -- also adds the estimate. @noamoss will assign as needed.

[2017-06-18 09:07] noamoss opened #365 "OG Roles and permissions [4h]"
|role|permissions|comments|role label Heb|role label Arabic|
|----|---|----|--|--|
Admin|`administer group` permission|site-wide role|--|--|
Editor| See below|--|עורכ/ת|المحرر أو رئيس التحرير|

Editor Permissions:
In site level:
Create role `editor` with permissions:
- Access administration menu
- Use the administration pages and help
- Translate entities of type Node
- Translate entities of type

[2017-06-18 09:09] noamoss commented on #294
@savyoncohen we will define the roles and check it on https://github.com/Gizra/Municipality/issues/365

[2017-06-18 09:09] #294 closed

[2017-06-18 09:18] liatsade commented on #365
@noamoss  I think it's early to define 3 different roles, we still don't know who is going to create the content, and how users going to do it in every muni.

I suggest just Editor role with Create/Edit/Delete content permission for the relevant content types:
Action
Contact
Event
FAQ
Freedom Of Information
Hardcopy form
News
Page
Tender

[2017-06-18 09:44] amitaibu commented on #365
This is a site-wide role, that has `administer group` permission

Should probably be called `Editor` -- Muni is not a word :). This is OG role, and like Liat commented, it's probably enough to have only this one.

[2017-06-18 09:56] savyoncohen commented on #204
@noamoss I'm using the extra time to add WDIO tests.

[2017-06-18 10:10] noamoss commented on #365
@nader77 ready for implementation, see description.

[2017-06-18 10:11] noamoss commented on #336
@ordavidil please take over

[2017-06-18 10:11] noamoss commented on #337
@ordavidil please take over

[2017-06-18 10:14] ordavidil commented on #336
@noamoss

The title of the page in English:
![new_theme__news_item_page__4h__ _issue__336_ _gizra_municipality](https://user-images.githubusercontent.com/5985683/27259955-fd37e526-5427-11e7-80d3-842e7582dbc9.gif)

will be **News and messages** unless you wish it to be something else ...

[2017-06-18 10:15] noamoss commented on #336
@ordavidil it's fine.

[2017-06-18 10:16] noamoss commented on #336
@ordavidil let's make it "News and Updates"

[2017-06-18 10:18] ordavidil commented on #336
@noamoss
one more question:

Which property of the node you wish to display ?
_created_ / _updated_

[2017-06-18 10:20] ordavidil commented on #336
plus,  these are the current date formats in the system:
![image](https://user-images.githubusercontent.com/5985683/27259991-c65ccee4-5428-11e7-830a-ce7d0977aa35.png)

If you wish to display the format as in the design above we should create a new one, otherwise, just choose one of the above.

[2017-06-18 10:35] savyoncohen commented on #197
@noamoss ready, can close this issue

[2017-06-18 10:49] noamoss commented on #336
@ordavidil

udpated, and let's set the label to be "עודכן בתאריך:"

we need to create a new one, as Hebrew/Arabic reader will mixed month/day order.

[2017-06-18 10:51] #197 closed

[2017-06-18 11:10] nader77 commented on #353
Added the block also to the homepage.

[2017-06-18 11:20] noamoss opened #368 "Automatic Tests / Sanity Chceck Protocol [4h]"
Create list of automatic tests, based [on original list](https://docs.google.com/a/gizra.com/spreadsheets/d/1uWetl_zpz2LdKA_KstHUWlttHGKjBPaYaxxa0tkUIOw/edit?usp=sharing) and mark which was implemented as automatic tests (+ link to relevant PR)

[2017-06-18 11:47] savyoncohen commented on #296
@noamoss Can you add time for a test?

[2017-06-18 11:50] noamoss commented on #296
@savyoncohen bumped up by 1h

[2017-06-18 11:50] ordavidil commented on #336
@noamoss
Can you please open a new issue to make sure we translate the months to Hebrew/Arabic ?

[2017-06-18 11:52] noamoss commented on #336
@ordavidil let's keep it simple: dd.mm.yy

[2017-06-18 11:58] ordavidil commented on #336
@noamoss
It's already done....
just need to translate the months, changing it again will be a double waste of time, if you still wish to change it to _dd.mm.yy_  as you wrote above please let me know ...

[2017-06-18 12:47] nader77 commented on #364
News was handled in #369

[2017-06-18 12:50] noamoss opened #371 "translate months to Hebrew and Arabic [1h]"
|English|Hebrew|Arabic|
|---|--|--|
|January|ינואר|يناير
|February|פברואר|فبراير
|March|מרץ|مارس
|April|אפריל|أبريل
|May|מאי|مايو
|June|יוני|يونيو
|July|יולי|يوليو
|August|אוגוסט|أغسطس
|September|ספטמבר|سبتمبر
|October|אוקטובר|تشرين أول
|November|נובמבר|نوفمبر
|December|דצמבר|ديسمبر

[2017-06-18 12:52] noamoss commented on #336
@ordavidil np, #371. If ready, please add 'ready for review' label.

[2017-06-18 13:00] ordavidil commented on #336
@noamoss / @nader77
Since bootstrap is lacking with colors, should we use https://mdbootstrap.com/css/colors/ or anything similar ?

[2017-06-18 13:04] amitaibu commented on #336
@ordavidil not sure it will fit the timebox. _If_ needed, can probably be in a follow up.

[2017-06-18 13:32] nader77 commented on #336
@ordavidil I think it's better if we use our theme's background colors classes, you can find here:
https://github.com/Gizra/Municipality/blob/master/server/hedley/themes/custom/porto/css/skins/default.css#L107

[2017-06-18 14:38] ordavidil commented on #371
There's probably a _.po_ file somewhere, but I couldn't find it.

Basically, I'm pretty sure the initial text of the month is coming from `PHP` and not from Drupal, hence the translation interface doesn't contain the months after installation.

We might solve it by invoking the `locale()` function for each month's label and for each language, then to translate it.

@nader77 /@amitaibu
any simple s

[2017-06-18 15:04] amitaibu commented on #371
@noamoss I'd actually suggest to keep it simple, and use the numbers instead of the names. Would save us the time for this (which is going to be more than 1h)

[2017-06-18 15:04] amitaibu commented on #371
My comment above :)

[2017-06-18 15:37] noamoss commented on #336
@ordavidil going back to dd.mm.yy structure.

[2017-06-18 15:38] noamoss commented on #371
I agree. Closing this. @ordavidil we will continue on https://github.com/Gizra/Municipality/issues/336#issuecomment-309284903

[2017-06-18 15:38] #371 closed

[2017-06-18 15:59] noamoss commented on #336
@ordavidil adding two hours to take care of:

* problem reported on [PR](https://github.com/Gizra/Municipality/pull/367#issuecomment-309285748)
* getting rid of the "published on" label - we will just leave the date, to avoid more potential problems with translations.

[2017-06-18 16:08] ordavidil commented on #336
@noamoss

My bad,  I was using _filtered html_ instead of _full html_ (with more privileges), seems to work fine.

This is done.

[2017-06-18 20:35] noamoss commented on #337
@ordavidil two clarifications, following https://github.com/Gizra/Municipality/pull/373#pullrequestreview-44727984:

1. Default title can be set to the 'title' field content
2. On this template, please omit the h2 "News & Updates". Basically, that's the main difference between this theme and #336 (I should have mentioned it in the description)

[2017-06-19 05:53] liatsade opened #374 "Add WYSIWYG to `Section description` field in `Action` content type [2h]"
It's better if we have the option to use WYSIWYG in this field (especially the option to display images - for example I need to display graph that Ar'ara sent me).
But if this task is complicated and can't be achieved within the timebox, we'll consider to pass it and find workaround solution.

![create_action___municipality](https://user-images.githubusercontent.com/20393485/27271042-1ba98106-54cb

[2017-06-19 06:35] ordavidil commented on #337
@noamoss
So maybe a bit different.
The `h2` will be the dynamic title (the title of the node),  and I'll drop the `h3`.
Accessibility wise ...

[2017-06-19 07:16] noamoss commented on #339
@ordavidil please take over.

[2017-06-19 07:33] liatsade opened #375 "Fix url in Action nodes after deploy to LIVE"
Url field can't get relative url, so I need to enter absolute url.
Need to be replaced with the live url, after migration.

![edit_action_ _ _ ___municipality](https://user-images.githubusercontent.com/20393485/27274097-a334d8b4-54da-11e7-977f-8b2cc3759d53.jpg)

[2017-06-19 07:48] noamoss commented on #375
@liatsade I think the issue here should be to enable relative urls, isn't it?

[2017-06-19 07:56] liatsade commented on #375
I don't think it possible on that type of field, I'll check.

[2017-06-19 08:25] DavidBronfen commented on #368
@savyoncohen @noamoss

Please take [this issue](https://github.com/Gizra/unio/issues/1524) as a reference to what you need to do here.
- Create a list of all the tests that needs to be performed in the project.
- Mark all the tests that already exists with a link to the appropriate code that perform the test.
- Open an issue with timebox for each test that needs to be created in the project and as

[2017-06-19 09:02] savyoncohen commented on #368
I think we should use this table, just with separate column to PR and issue, and we will add the code line column. This issue should be the meta issue, including all checks.
I will update the table each time we add a new test.

[2017-06-19 09:15] liatsade commented on #375
Ok, its possible. I'll open a followup issue.

[2017-06-19 09:18] liatsade opened #377 "Remove check from Absolute URL"
Do not force `link` field in `Action` to be absolute

![link___municipality](https://user-images.githubusercontent.com/20393485/27278072-fdf1b55c-54e8-11e7-9fe9-9a4cefaa46be.jpg)

followup #375

[2017-06-19 09:33] noamoss commented on #339
@ordavidil no need to include the weekday on the last update part.

[2017-06-19 09:42] ordavidil commented on #339
@nader77 / @amitaibu
This looks like a job for _page element_.
Since we already have a content type named **Page**, do you have any suggestions or maybe other thoughts of how to implement it ?

Thanks ...

[2017-06-19 09:50] amitaibu commented on #339
Why not hardcode?

[2017-06-19 09:51] ordavidil commented on #339
@noamoss said the content should be dynamic and be changed by the end-user.

[2017-06-19 09:54] amitaibu commented on #339
@noamoss all the above, with tests, in 3h doesn't sounds realistic. Please update requirements or timebox.

[2017-06-19 10:21] nader77 commented on #339
@ordavidil Please notice that each Muni have a `footer text` field.

[2017-06-19 10:22] nader77 commented on #339
Also, the property `changed` will serve at site last updated and there's a field called `last updated` will serve as the "content last updated"

[2017-06-19 10:47] liatsade commented on #258
@nader it seems that this bug came back. `Answer` value missing when editing.

![edit_faq_ _ _ _ ____municipality](https://user-images.githubusercontent.com/20393485/27281695-84582b10-54f5-11e7-8b16-14f3ff78030d.jpg)

[2017-06-19 12:02] savyoncohen opened #380 "A notice after editing and saving events node [1h]"
![selection_363](https://user-images.githubusercontent.com/18241741/27284173-41d71598-5500-11e7-8c4e-26a79acd703b.png)

[2017-06-19 15:12] ordavidil commented on #336
@nader77
The PR is not merged yet ...

[2017-06-19 15:13] nader77 commented on #336
Ohh sorry, my bad, confused with another issue, please add `Merged` label when Amitai merges an PR, this way I can't get confused 😆

[2017-06-19 16:41] noamoss commented on #335
@ordavidil please take over

[2017-06-19 17:02] noamoss commented on #374
@ordavidil please take over.

[2017-06-19 18:54] noamoss opened #384 "Fix ajax requests with purl path [4h]"
https://github.com/Gizra/Municipality/pull/383#issuecomment-309530900:

![image](https://user-images.githubusercontent.com/3581741/27300831-c2d569f4-5539-11e7-9b6d-2b4d5fd00554.png)

[2017-06-19 19:20] noamoss commented on #384
Or [wrote]() it is not related to his PR (#383), but meanwhile the problem does not appear on the `test` site:

![image](https://user-images.githubusercontent.com/3581741/27301826-516f1770-553d-11e7-8ff9-1f6091a90819.png)

@nader77 any further information is needed here?

[2017-06-19 20:06] ordavidil commented on #384
@nader77
might it be because of the new admin theme ?

[2017-06-20 06:30] ordavidil commented on #384
For some reason the first request is being redirect, still don't know why or which part is doing that:
![screenshot_6_20_17__9_25_am](https://user-images.githubusercontent.com/5985683/27319527-9a731d88-559a-11e7-9b9c-62d0498548be.gif)

We can clearly see that the payload of the original request is full with data:
![edit_action_ _ _ __arabic____municipality](https://user-images.githubusercontent.co

[2017-06-20 06:36] ordavidil commented on #384
Also noticed something weird.

When editing the english version, the redirected request still use _Arabic_ as a value of the language in the query string:

* ![edit_action_ _ _ __english____municipality](https://user-images.githubusercontent.com/5985683/27319784-d3030ee6-559b-11e7-8266-f203967fe50f.gif)

**Same thing happens for hebrew.**

[2017-06-20 06:47] amitaibu commented on #384
@noamoss fyi, I've bumped time box, since such ajax issues are hard to debug.

[2017-06-20 07:12] savyoncohen commented on #284
@nader77 Now I get this notice after saving:
![image](https://user-images.githubusercontent.com/18241741/27320931-f7c42f12-55a0-11e7-8747-1e5f202fc73e.png)

[2017-06-20 07:15] ordavidil commented on #384
@nader77
It seems that the issue is not related to the theme, it happens also on the `seven` theme.
Also, I was checking the jQuery version, doesn't seems to be the issue as well.

I haven't found the place that make the redirection ... :|

[2017-06-20 07:20] savyoncohen commented on #364
@noamoss Fixed:
![selection_378](https://user-images.githubusercontent.com/18241741/27321224-10c1fcbe-55a2-11e7-83ad-b43ef2145697.png)
![selection_379](https://user-images.githubusercontent.com/18241741/27321225-10c3f974-55a2-11e7-981a-9b8e47b7df95.png)

[2017-06-20 07:22] amitaibu commented on #384
I bet it's related to https://github.com/Gizra/Municipality/blob/2b5919636ec582186a8aebd1e883381961eab3fd/server/hedley/modules/custom/hedley_i18n/hedley_i18n.module#L119

[2017-06-20 07:30] savyoncohen opened #385 "Errors on some topics pages [2h]"
http://test-municipality.pantheonsite.io/taxonomy/term/19
http://test-municipality.pantheonsite.io/taxonomy/term/21
![selection_380](https://user-images.githubusercontent.com/18241741/27321321-7decd44e-55a2-11e7-9d0a-45e45aa117a5.png)

[2017-06-20 07:31] ordavidil opened #386 "Action section icons [1h]"
Followup to https://github.com/Gizra/Municipality/pull/383#discussion_r122895977

Currently the keys of the icons in the list are basically the font awesome classes.
We should change it to be a simple value that's related to the icon's label itself and to convert the value to the right font-awesome class just before we render the template.

Tasks:
1. Change the keys of the _Allowed values list_ of

[2017-06-20 07:34] amitaibu commented on #385
Issue should also include a WDIO test to confirm status code is 200

[2017-06-20 07:48] savyoncohen commented on #353
@nader77 The event image does not appear on the page:
http://test-municipality.pantheonsite.io/taxonomy/term/15?language=he
![selection_381](https://user-images.githubusercontent.com/18241741/27322215-e878d152-55a5-11e7-8a41-7af45282af5b.png)

[2017-06-20 08:00] savyoncohen commented on #359
@noamoss Nothing to check here.

[2017-06-20 08:01] noamoss commented on #350
@savyoncohen no need for checks here. I am moving it on.

[2017-06-20 08:01] #350 closed

[2017-06-20 08:01] savyoncohen commented on #204
@noamoss The tests were added, can close this issue.

[2017-06-20 08:04] savyoncohen commented on #298
@nader77 Anything to check here?

[2017-06-20 08:05] savyoncohen commented on #275
@nader77 Anything to check here?

[2017-06-20 08:23] #204 closed

[2017-06-20 08:58] savyoncohen commented on #353
@noamoss Works as expected on the Municipality url :http://test-municipality.pantheonsite.io/municipality-2/taxonomy/term/15?language=he
![image](https://user-images.githubusercontent.com/18241741/27325011-b2e77480-55af-11e7-84b6-7828b2527cde.png)

[2017-06-20 10:56] savyoncohen opened #388 "Add missing tests on homepage [3h]"
#368
![selection_383](https://user-images.githubusercontent.com/18241741/27330076-a6c3d91c-55c0-11e7-9f4d-95858fb0c623.png)
![selection_384](https://user-images.githubusercontent.com/18241741/27330075-a6bf1fb2-55c0-11e7-985a-08a3e9e317b3.png)
![selection_385](https://user-images.githubusercontent.com/18241741/27330077-a6c6a08e-55c0-11e7-982b-e5e71681b69d.png)

[2017-06-21 05:45] nader77 commented on #353
@savyoncohen

http://test-municipality.pantheonsite.io/taxonomy/term/15?language=he

This URL doesn't belong to any group, you can't expect to see the topic page for a group without the group context.

[2017-06-21 05:51] nader77 commented on #275
No thanks.

[2017-06-21 05:51] #275 closed

[2017-06-21 05:51] nader77 commented on #298
Nope.

[2017-06-21 05:51] #298 closed

[2017-06-21 06:01] nader77 commented on #284
@savyoncohen You can close this, it's being handled by another issue/

[2017-06-21 06:01] nader77 commented on #284
#380

[2017-06-21 06:09] nader77 commented on #386
@ordavidil Please go ahead with this, it's going to take half the time estimation to bring me up to speed on what's going on, you will explain it to me in the weekly meeting or something.

/cc @amitaibu

[2017-06-21 06:23] #363 closed

[2017-06-21 06:36] #284 closed

[2017-06-21 08:02] savyoncohen commented on #353
@nader77 @noamoss See what I wrote [above](https://github.com/Gizra/Municipality/issues/353#issuecomment-309690052)  ^^

[2017-06-21 08:03] savyoncohen commented on #353
@noamoss Can close this

[2017-06-21 08:54] savyoncohen opened #391 "Add more missing tests to homepage [3h]"
#368
![selection_421](https://user-images.githubusercontent.com/18241741/27374991-724afeac-5676-11e7-9691-faf5dd0dc61d.png)
![selection_422](https://user-images.githubusercontent.com/18241741/27374992-724d6214-5676-11e7-920e-d2a9c23a3d2c.png)

![selection_584](https://user-images.githubusercontent.com/18241741/27631158-44ed10e6-5c00-11e7-989d-ee74b6ba0232.png)

[2017-06-21 09:51] #353 closed

[2017-06-21 10:45] savyoncohen opened #392 "Events on homepage are not filtered by user types [2h]"
Example: I choose "residents" on the user type menu and I can see "סיור קבלנים" which is only for "bussinesses"
http://test-municipality.pantheonsite.io/municipality-1/node/1?user_type=residents&language=he
![image](https://user-images.githubusercontent.com/18241741/27380236-07188cb0-5687-11e7-9487-eabd3af14311.png)

http://test-municipality.pantheonsite.io/municipality-1/node/32?language=he
http:

[2017-06-21 10:47] savyoncohen commented on #392
@noamoss Please assign someone

[2017-06-21 11:03] liatsade commented on #365
@noamoss I updated the description with the right permissions for `editor`.
I already set this manually in LIVE. Need to be implemented in code.

[2017-06-21 11:40] savyoncohen commented on #391
UpdateWaiting for this issue to be solved #392 so I can add the events tests.

[2017-06-21 12:38] liatsade commented on #258
@noamoss ^^ please high prioritize this, it's interrupting me to create content.

[2017-06-21 12:56] nader77 commented on #258
@liatsade I have fixed it for you on live, we have handled this but not deployed yet.

The answer field should not be with a content editor, it should be plain text.

[2017-06-21 13:00] nader77 commented on #380
This has been handled in #376

[2017-06-21 14:16] liatsade commented on #258
Thanks @nader77

We need WYSIWYG in this field, especially for insert links to another content (for more details, for example).

[2017-06-21 14:59] nader77 commented on #258
@liatsade Ok, this is another issue, please open a new one and assign to @noamoss so he will put it on our board.

[2017-06-21 16:22] noamoss opened #395 "Ckeditor not displaying content on node edit [2h]"
https://github.com/Gizra/Municipality/issues/258#issuecomment-310092278

[2017-06-21 16:24] noamoss commented on #258
@liatsade opened #395 and added to board, but it won't be very high now, as we lost valuable time this week and we have this tough deadline. If the "answers" plain text appears as it should, please close this issue.

[2017-06-21 16:25] noamoss commented on #348
@nader77 please explain to me this, and how (or is it) related to #365

[2017-06-21 17:31] noamoss opened #396 "Basic Page Automatic Tests [2h]"
To be defined

[2017-06-21 17:32] noamoss opened #397 "News Item Pages Sanity/Automatic Tests [2h]"
To be defined

[2017-06-21 17:33] noamoss opened #398 "Action Items + Action Pages Sanity/Automatic Checks [2h]"
to be defined

[2017-06-21 20:27] noamoss commented on #112
closing as the page will be chcked with the new theme on #334

[2017-06-21 20:27] #112 closed

[2017-06-21 20:28] #359 closed

[2017-06-21 20:30] noamoss opened #399 "Topics and Topic Page Sanity/Automatic tests [2h]"
This list is index of manual and automatic tests for a topic and a topic page (and its header and footer). It should include all relevant PRs for tests, and therefore, description to be updated proactively by QA.

to be defined

[2017-06-21 20:38] noamoss commented on #355
I think that since we moved to work on the live site, we can start working on this. Let's discuss before.

[2017-06-21 21:11] noamoss opened #400 "Accesiblity Manual/Automatic Tests site wide [2h]"
This list is index of manual and automatic tests for a municipality site-wide accessibility issues. It should include all relevant PRs for tests, and therefore, description to be updated proactively by QA.

list will be dynamically extended.

# forms
* every field has a separate label
* every required field has an aria tag
* every validation / error message includes an aria tag (for screen reader)

[2017-06-21 21:14] noamoss opened #401 "Add ARIA Landmarks (sections) on Homepage [1h]"
Add the following landmarks tags, to support screen readers:

* header --> `role = Header`
* footer --> `role = Footer`

* homepage, add the `role = Section` tag to each of the following blocks headers: QA, Actions, News, Events, Topics List

[2017-06-21 21:18] noamoss opened #402 "Add ARIA Landmarks (sections) on Basic Page, News Page [1h]"
Add the following landmarks tags, to support screen readers:

* News Page:
Title --> `role = Main`
 body field --> `role = Article`

* Baisc Page,
title field --> `role = Main`
body field --> `role = Article`

[2017-06-21 21:20] noamoss opened #403 "Add ARIA Landmarks (sections) on topic pages [1h]"
on topic pages
- add `role = Main` to the topic title field.

- add the `role = Section` tag to each of the following blocks headers:
* QA
* Actions
* News
* Events
* Contacts

[2017-06-21 21:29] noamoss opened #404 "Add ARIA Landmarks (sections) on Action Page [1h]"
Add the following landmarks tags, to support screen readers:

Action title --> `role = Main`

Action section --> `role = Section`

[2017-06-21 21:31] noamoss opened #405 "Add ARIA Landmarks (sections) on Contacts Page [1h]"
TBA

[2017-06-21 21:32] noamoss opened #406 "Add ARIA Landmarks (sections) on a single event page [1h]"
TBA

[2017-06-21 21:33] noamoss opened #407 "Add ARIA Landmarks (sections) on Events list Page [1h]"
TBA

[2017-06-21 21:35] noamoss opened #408 "Add ARIA Landmarks (sections) on Open/Close Tenders, Rules&Regulation and Protocol Pages [2h]"
TBA

(see [this](http://www.nagish.org.il/?page_id=131) for tables guidelines)

[2017-06-22 04:33] liatsade commented on #258
@noamoss

The most FAQ I need to create for Arara emergency page contain links in the answer. I don't need WYSIWYG for this, I can use html tag, but since the field is plain text, html wont work.
So the meaning is that in this point I can create real FAQ content for Arara.

[2017-06-22 05:57] noamoss commented on #258
@liatsade following our talk, I will move it up. Please close this if answers plain text appears as it should.

[2017-06-22 05:59] nader77 commented on #348
@noamoss In a way, but not really, this is to make our behat tests more accurate and efficient, instead of using admin user for testing let's say access, we use real users, with real roles and permissions.

[2017-06-22 06:40] liatsade opened #410 "New Theme: Event Item Page [6h]"
Implement the new theme on a Event node page (use the News node page as reference https://github.com/Gizra/Municipality/issues/336 )
Display only these fields, in this order:
- Static Title: ״אירועים״
- Node Title
- Date (label + value inline)
- Audience (label + value inline)
- Ticket price (label + value inline)
- Body (value without label)
- Image (value without label)
- Topics (value without l

[2017-06-22 06:42] liatsade commented on #410
@noamoss I leave it to you to prioritize and  assign developer.

[2017-06-22 06:57] liatsade commented on #355
@nader77 we need this page to be displayed in every muni. I prefer to create one copy of it, so in case we need to edit this, we can do it in one place.
What do you suggest?

[2017-06-22 07:11] nader77 commented on #391
Needs some more work.

[2017-06-22 07:12] nader77 commented on #388
Tests are failing on master with the new design.

[2017-06-22 07:18] nader77 commented on #355
@liatsade You can reference more than one Muni in the same entity.

[2017-06-22 07:39] savyoncohen commented on #388
@nader77 I will open a new PR and fix it now

[2017-06-22 07:56] savyoncohen commented on #388
@nader77 The action test is also failing because you can't see the node on the page:
![image](https://user-images.githubusercontent.com/18241741/27423181-6e07b2ea-5739-11e7-94f9-8ae2d62e3a67.png)
![image](https://user-images.githubusercontent.com/18241741/27423189-76f7bc9c-5739-11e7-87f9-a242af9d1386.png)

[2017-06-22 13:20] liatsade commented on #258
@nader77 as we talked, I tried playing with the ckeditor setting, but it seems nothing affect this problem.
Any way, I found [this](https://www.drupal.org/node/1267944), it's an old issue but maybe it will give a hint.

[2017-06-22 14:09] noamoss commented on #274
@ppavels please take over, as @ItamarGronich is away for the upcoming week.

[2017-06-22 20:44] noamoss commented on #258
@nader77 ^^^ if it is relevant, you can decide to move it back on the board.

[2017-06-25 06:02] nader77 commented on #375
@liatsade @noamoss please close this if there's nothing to do here (there was no need to open a follow up on an issue that we didn't do any work on).

[2017-06-25 06:05] nader77 commented on #258
@liatsade @noamoss Why re-open and discuss here, this issue was closed because the title it's not relevant to the current issue we are having, you have opened #395 which makes this only a duplicate.

[2017-06-25 06:05] #258 closed

[2017-06-25 06:06] nader77 commented on #395
from @liatsade

Any way, I found [this](https://www.drupal.org/node/1267944), it's an old issue but maybe it will give a hint.

I will check it.

[2017-06-25 06:43] noamoss commented on #375
@nader77 just to make sure before closing, relative urls can be entered now?

[2017-06-25 06:44] nader77 commented on #375
@noamoss No, this is a duplicated issue, why we need a follow up issue on an issue that is exactly the same ?

[2017-06-25 06:48] noamoss commented on #375
@nader77 this issue is a content issue for Liat (As she is self-assigned) to fix manually the relevant nodes affected by #377. You can neglect it (as it also off board).

[2017-06-25 08:08] liatsade commented on #258
@nader77 the title is relevant. The problem appears on long text fields with WYSIWYG, not just in FAQ answer field.

[2017-06-25 08:09] nader77 commented on #258
@liatsade I know but that was another bug that we fixed already, even though it's behaving the same, now it's to do with the CKEDITOR and Purl modules.

[2017-06-25 08:12] liatsade commented on #258
@nader77 ok, thanks for clarify.

[2017-06-25 08:14] nader77 commented on #395
@liatsade I changed the title here.

@noamoss Found the problem, I think I need to create a patch because I can't find this issue on the module's page in drupal.org.

[2017-06-25 08:27] savyoncohen commented on #392
@nader77 I can also see that events links on homepage are opened in a new tab.
can you fix this also in this issue so they will open in the same tab?
![selection_479](https://user-images.githubusercontent.com/18241741/27514639-198f28c6-5999-11e7-9b78-5c5cb2c4da8b.png)

[2017-06-25 08:37] nader77 commented on #392
@noamoss Is that an issue ? ^^

[2017-06-25 08:51] noamoss commented on #392
@nader77 yes, event page is an internal page  and therefore should open in the same tab.

[2017-06-25 08:52] nader77 commented on #392
@savyoncohen Please open a separate issue for this as it's not connected to this one.

[2017-06-25 08:58] savyoncohen opened #415 "Events links on homepage should open in the same tab [1h]"
![selection_479](https://user-images.githubusercontent.com/18241741/27514812-b4d1af30-599d-11e7-8c6f-839a2f619561.png)

[2017-06-25 08:59] savyoncohen commented on #415
@noamoss Please assign someone.

[2017-06-25 09:09] savyoncohen commented on #392
@noamoss I opened a new issue: #415

[2017-06-25 10:18] savyoncohen opened #417 "News element homepage test [3h] + add helper functions"
#368
![image](https://user-images.githubusercontent.com/18241741/27515313-e905851e-59a8-11e7-802b-c2b1cad2127f.png)

[2017-06-25 11:30] nader77 commented on #384
@amitaibu It was but that was not enough, because the purl got into the `system/ajax` path, when I added:
[code]

to the `ajax.inc` file in the core, the issue was resolved, this will not be a problem once we use `subdomain` but for the time being, the only way I can think of is creating a patch for `purl` module which prevents it from adding anything to an admin or system or ajax url, what do you

[2017-06-25 11:34] amitaibu commented on #384
Please send a link to where exactly, current comment is missing context.

Sounds wrong, as PURL should also work on admin pages.

[2017-06-25 11:42] nader77 commented on #384
I'm not sure that this is what you mean, it's in this file:
https://api.drupal.org/api/drupal/includes%21ajax.inc/7.x
Line: 742.

[2017-06-25 11:54] nader77 commented on #384
https://github.com/drupal/drupal/blob/7.x/includes/ajax.inc#L741-L753

[2017-06-25 12:00] amitaibu commented on #384
I think there's a more generic way to do it, by adding our own `pre_render` that will be executed after `ajax_pre_render_element` (or possibly after `drupal_pre_render_link`) which will adapt `$element['#ajax']` accordingly.

I'd give it ~0.5h, and if you don't find yourself, ping me.

[2017-06-25 12:44] nader77 commented on #384
@amitaibu All I could find was `HOOK_process_form($element, &$form_state)`, I couldn't find any `pre_render` hooks.

[2017-06-25 12:46] amitaibu commented on #384
It's not a hook, it's a form API property (like `$form['#after_build']`, you have `$form['#pre_render']`)

[2017-06-25 16:15] nader77 commented on #380
This is still appearing on some pages, I will fix it in next release.

[2017-06-25 18:23] noamoss opened #422 "News Item Page Sanity/Automatic Tests [2h]"
This list is index of manual and automatic tests for a News page, and its header and footer. It should include all relevant PRs for tests, and therefore, description to be updated proactively by QA.

To be defined

[2017-06-26 05:57] nader77 commented on #384
@amitaibu I have found it and fixed it for one field, but we have tons of fields with ajax and each one has a different path that needs fixing:
* background image. (Remove and upload image - not working)
* OG ref. (Add another item - not working)
* All other fields with add item button.

I don't think this is the best approach if I fix the whole problem and contribute to `purl` module with three l

[2017-06-26 06:35] noamoss commented on #396
@savyoncohen basic list is ready, lets start with these.

[2017-06-26 06:40] noamoss commented on #397
@savyoncohen basic list is ready, let's start with these before adding more.

[2017-06-26 09:00] savyoncohen commented on #398
## All Users:

When|	and I (do)...|	Then| Issue | PR | Manual/ Behat/ SimpleTest / WDIO | Code reference|
--------|---------------|-------|---------|----------|-------|------|
I visit the action page with specific user type and language || see the "Action", with the current language and content in the body field,|#335|#420|WDIO| [test](https://github.com/Gizra/Municipality/blob/master/wdio/specs/a

[2017-06-26 11:04] savyoncohen commented on #385
@nader77 The error have disappeared, but now I'm not authorized to view any topic page:
http://test-municipality.pantheonsite.io/taxonomy/term/19
http://test-municipality.pantheonsite.io/taxonomy/term/21
![selection_502](https://user-images.githubusercontent.com/18241741/27536533-469cdee6-5a78-11e7-90b9-6cba30b999dc.png)
![selection_503](https://user-images.githubusercontent.com/18241741/27536532-

[2017-06-26 11:07] savyoncohen commented on #374
@noamoss The WYSIWYG was added to the field
![selection_504](https://user-images.githubusercontent.com/18241741/27536654-cfdb36e4-5a78-11e7-8fa1-c3f0b7679515.png)

[2017-06-26 11:12] nader77 commented on #385
@savyoncohen That's the point and there's a test to assert that this the case, you are not supposed to access those pages without OG context, have a look [here](https://github.com/Gizra/Municipality/blob/master/server/behat/features/access.feature#L17-L28) maybe it will be easier to understand

[2017-06-26 11:12] savyoncohen commented on #339
@noamoss The example was not implemented:
![image](https://user-images.githubusercontent.com/18241741/27536809-7acfe086-5a79-11e7-9b4e-bf4c13bc3c78.png)

[2017-06-26 11:26] savyoncohen commented on #335
@noamoss
- Each section title should be bolded.
- I can't find all icons, like this example above, is that important?
![selection_507](https://user-images.githubusercontent.com/18241741/27537183-5618906a-5a7b-11e7-9181-3c05d3b2b891.png)
![screenshot from 2017-06-26 14 23 06](https://user-images.githubusercontent.com/18241741/27537194-61d7c808-5a7b-11e7-8307-9b68e0ff8b12.png)

[2017-06-26 11:39] savyoncohen commented on #335
@noamoss Can we migrate action content with more then one section, so we can test the page better?

[2017-06-26 11:51] savyoncohen commented on #337
@noamoss Looks as expected.
Do we need to add `פורסם בתאריך` text next to the date?
![selection_512](https://user-images.githubusercontent.com/18241741/27538026-def76318-5a7e-11e7-9ee1-0a486c1fc564.png)

![selection_509](https://user-images.githubusercontent.com/18241741/27537929-8ab07e48-5a7e-11e7-87f4-73f4b0dd9ebb.png)
![selection_511](https://user-images.githubusercontent.com/18241741/27537933-

[2017-06-26 12:02] savyoncohen commented on #336
@noamoss
- Title should be in hebrew and arabic too.
![selection_515](https://user-images.githubusercontent.com/18241741/27538316-0b5b95f4-5a80-11e7-9133-cac371b4ad08.png)

- The label `פורסם בתאריך` is missing.
- Do we need the `sub title` field? I don't see it is used anywhere:
![selection_513](https://user-images.githubusercontent.com/18241741/27538368-418572d0-5a80-11e7-9c4f-17369ea65dac.png)

[2017-06-26 12:11] savyoncohen commented on #385
@nader77 is that apply for admin also?
@noamoss Works as excepted with no errors
http://test-municipality.pantheonsite.io/municipality-4/taxonomy/term/19?language=he
http://test-municipality.pantheonsite.io/municipality-4/taxonomy/term/21?language=he
![image](https://user-images.githubusercontent.com/18241741/27538623-8d89b712-5a81-11e7-9419-af357760dc34.png)

[2017-06-26 12:18] nader77 commented on #385
@savyoncohen

yes.

[2017-06-26 12:19] savyoncohen commented on #388
@noamoss We can close this issue, I'm done adding these tests.

[2017-06-26 12:20] savyoncohen commented on #356
@noamoss We can close this, WDIO tests are already running on travis.

[2017-06-26 12:27] savyoncohen commented on #395
@noamoss It's fixed, here is an example for a node with a link on it's content:
http://test-municipality.pantheonsite.io/municipality-2/node/78/edit?language=he
![selection_517](https://user-images.githubusercontent.com/18241741/27539063-a58e4984-5a83-11e7-9d7a-03d5b46df649.png)

[2017-06-26 12:30] savyoncohen commented on #386
@ordavidil How do I check this issue?

[2017-06-26 12:34] ordavidil commented on #386
you can either check the allowed values for the field and the classes helper function.

[2017-06-26 12:48] noamoss commented on #374
cc @liatsade

[2017-06-26 12:48] #374 closed

[2017-06-26 12:50] noamoss commented on #339
@savyoncohen it's ok i think.

as long we can add multi line text with links (using a WYSIWG). Please try to reproduce the text from the description and add a screenshot.

[2017-06-26 12:54] savyoncohen commented on #386
@noamoss works as expected:
![screenshot from 2017-06-26 14 23 06](https://user-images.githubusercontent.com/18241741/27539667-09923736-5a86-11e7-92bc-c0cc59a69a8d.png)
![selection_518](https://user-images.githubusercontent.com/18241741/27540105-9b87c3d0-5a87-11e7-940b-59f9ddbbdd32.png)

[2017-06-26 12:59] nader77 commented on #335
@savyoncohen Not really, add as much as you want on test.

[2017-06-26 13:01] noamoss commented on #335
@ordavidil please fix (adding 1h):

* [ ]  Each section title should be bolded.
* [ ] The municiapilty name is h1 and the action title is H2, is that OK?

[2017-06-26 13:02] savyoncohen commented on #335
@nader77 I want to test it on the front-end...

[2017-06-26 13:14] savyoncohen commented on #339
@ordavidil Can you explain where can I edit the footer for each municipality? I can't find it.

[2017-06-26 13:17] ordavidil commented on #339
Edit form of the `municipality` node:

![edit_municipality_ _ __hebrew____municipality](https://user-images.githubusercontent.com/5985683/27540985-e24b97bc-5a8a-11e7-89b4-f199efd9a0f1.gif)

[2017-06-26 13:18] noamoss commented on #337
@savyoncohen

no need, moving it on.

[2017-06-26 13:18] #337 closed

[2017-06-26 13:18] amitaibu commented on #339
@noamoss Seems like a usability problem that could be quite easily solved, if there was an edit link for privileged users (here and everywhere that it may apply)

[2017-06-26 13:21] savyoncohen opened #426 "Events links on homepage are incorrect [3h]"
The language Query string should come after the url.
http://test-municipality.pantheonsite.io/municipality-1/node/1?language=he
Wrong link examples on homepage:
http://test-municipality.pantheonsite.io/municipality-1?language=he/node/32
http://test-municipality.pantheonsite.io/municipality-1?language=he/node/29

![image](https://user-images.githubusercontent.com/18241741/27541044-193b4f60-5a8b-11e

[2017-06-26 13:22] noamoss commented on #336
@savyoncohen

not a problem, we gave up on it.

not for now.

to show the problem to the developer, please add comment with the filled input on the editor view + the results - to mkae sure we had a proper content to display in Arabic.

[2017-06-26 13:22] savyoncohen commented on #426
@noamoss Please assign someone

[2017-06-26 13:24] #385 closed

[2017-06-26 13:30] noamoss commented on #388
@savyoncohen these issues never end, more tests to come. I am leaving it open and moving back to the "upcoming" column. You should keep [this link](https://github.com/Gizra/Municipality/labels/Sanity%20%2F%20Automatic%20Tests) for reuse (I am adding it to the README.md also)

[2017-06-26 13:31] #356 closed

[2017-06-26 13:32] #395 closed

[2017-06-26 13:32] noamoss commented on #395
(cc @liatsade )

[2017-06-26 13:33] #386 closed

[2017-06-26 13:34] savyoncohen commented on #339
@noamoss Looks Ok,
 but I can't translate it, is that ok?
![image](https://user-images.githubusercontent.com/18241741/27541567-130b659c-5a8d-11e7-9118-a75db9fd4620.png)

[2017-06-26 13:36] noamoss commented on #339
@amitaibu

right, therefore I do not really see that as a usibility problem for now.

@savyoncohen

for now it's fine. good call.

[2017-06-26 13:36] #339 closed

[2017-06-26 13:37] noamoss commented on #426
@nader77 please take over (expanding by 1h)

[2017-06-26 13:41] savyoncohen commented on #388
@noamoss this issue is only for adding these specific tests in the list above, they appear on this issue too: #368
 I'm opening an issue every time I add new ones to the code. you can close it and remove the label

[2017-06-26 13:44] nader77 commented on #426
@noamoss No need, I have handled this in #423 (not yet deployed) - I had to fix a function and this got fixed on the way :)

[2017-06-26 13:53] #388 closed

[2017-06-26 13:54] noamoss commented on #388
@savyoncohen ok, but please make sure to check time box also for these issues, as in this one we are already 1.9 overtime.

[2017-06-26 14:18] savyoncohen commented on #336
@ordavidil
- "News and updates" general title should be translated to hebrew and arabic too.
![selection_515](https://user-images.githubusercontent.com/18241741/27538316-0b5b95f4-5a80-11e7-9133-cac371b4ad08.png)

[2017-06-26 14:33] nader77 commented on #336
@savyoncohen Those translations are content related, the content editors will translate them through the UI.

@noamoss Could you please take a min to explain it to Savyon so she doesn't waste time on it ?
Cheers,

[2017-06-26 14:36] noamoss commented on #336
@nader77 @savyoncohen this is my mistake, did not explain myself well. @savyoncohen we will discuss it tomorrow, when I am in office.

[2017-06-27 07:34] amitaibu commented on #384
Yeah, This patch would not get in since `if (strpos($path, 'ajax') !== FALSE) {` means it will also block legitimate urls like `/just-an-ajax-example`.

[2017-06-27 09:06] noamoss commented on #333
@savyoncohen please check

[2017-06-27 10:22] nader77 commented on #384
@savyoncohen Could you please install `master` locally and check if this is working for you now ?

(It's suddenly working for me after a fresh install 😕 )

[2017-06-27 11:22] savyoncohen commented on #384
@nader77 No errors on `master`:
![image](https://user-images.githubusercontent.com/18241741/27585234-0646d122-5b44-11e7-96a1-4b709482622c.png)

[2017-06-27 11:27] nader77 commented on #384
Ok thanks, I'll try to figure what fixed it.

[2017-06-27 12:20] #417 closed

[2017-06-27 13:36] savyoncohen commented on #336
@nader77 I can see that it's hardcoded : [news template](https://github.com/Gizra/Municipality/blob/master/server/hedley/modules/custom/hedley_news/plugins/content_types/news_content/news-content.tpl.php#L14)

[2017-06-27 13:38] nader77 commented on #336
@savyoncohen In Drupal `t()` function means the text inside can be translated in the translate UI, please read:
https://api.drupal.org/api/drupal/includes%21bootstrap.inc/function/t/7.x

[2017-06-27 13:47] noamoss commented on #336
@nader77 could also find a place in the interface, if I missed it please add link.

[2017-06-27 13:48] nader77 commented on #336
@noamoss Sorry ? your request is not clear.

[2017-06-27 13:54] savyoncohen commented on #336
@nader77 We didn't find the place in the UI, where we can translate this title.

[2017-06-27 13:57] nader77 commented on #336
http://test-municipality.pantheonsite.io/admin/config/regional/translate/translate?language=en

Please search for `News` (case sensitive).

[2017-06-27 14:00] savyoncohen commented on #336
@nader77 OK :+1:
![image](https://user-images.githubusercontent.com/18241741/27591307-f0277bba-5b59-11e7-9233-a11e9063f938.png)

[2017-06-27 14:07] amitaibu commented on #384
Awesome, I'm happy we didn't rush to fix with wrong fixes :)

[2017-06-27 14:16] amitaibu opened #431 "Homepage: FAQ is loaded expanded [3h]"
e.g. https://dev-municipality.pantheonsite.io/municipality-4/node/4?language=he

![_ ___municipality](https://user-images.githubusercontent.com/125707/27592084-3bc83fda-5b5c-11e7-858f-c19518d5e6ad.jpg)

only after you click it, it will collapse properly

@noamoss please assign as you see fit.

[2017-06-27 14:28] savyoncohen commented on #333
@noamoss
- [X] Q&As
- [X] Actions
- [X] News
- [X] Events (Sort by date, ACS)
- [ ] Topics list (Sort by title, ACS)

1. Topics list is missing.
![image](https://user-images.githubusercontent.com/18241741/27592659-a3d90130-5b5d-11e7-89e3-367441d1c890.png)

2. What's happening suppose to show municipality name
![image](https://user-images.githubusercontent.com/18241741/27591861-aa75fd88-5b5b-11e7-8

[2017-06-27 14:32] nader77 commented on #431
@noamoss We have discussed this, the theme loads the FAQs with the first line displayed, then when clicking on it, you can see the whole answer, I got your approval on this but anyway, you can choose the [other elements](http://preview.oklerthemes.com/porto/5.7.2/shortcodes-accordions.html) in the theme, which doesn't display the answer but doesn't have an arrow.

Please update me which one you wa

[2017-06-27 14:41] noamoss commented on #431
@nader77 you are right- I think you mentioned it is expected when the answer is a one liner (maybe I am confused, sorry for that). Anyhow, the [Default accordion](http://preview.oklerthemes.com/porto/5.7.2/shortcodes-accordions.html) in the link you sent looks good enough for our need.

[2017-06-27 14:42] nader77 commented on #431
No problem, I think I can them all be closed, i'll change it.

[2017-06-27 14:43] noamoss opened #432 "homepage : add topic list [3h]"
https://github.com/Gizra/Municipality/issues/333#issuecomment-311375630:

Add the missing (dynamic) topics list:
![image](https://user-images.githubusercontent.com/18241741/27592659-a3d90130-5b5d-11e7-89e3-367441d1c890.png)

[2017-06-27 14:45] noamoss opened #433 "homepage fix what's happening block dynamic title [2h]"
https://github.com/Gizra/Municipality/issues/333#issuecomment-311375630:

![image](https://user-images.githubusercontent.com/18241741/27591861-aa75fd88-5b5b-11e7-83fc-b2fdef928f1f.png)
![selection_549](https://user-images.githubusercontent.com/18241741/27591879-b4796d74-5b5b-11e7-8677-9184be8b75da.png)

[2017-06-27 14:52] noamoss commented on #331
@savyoncohen @nader77 crucial to include automatic test here.

[2017-06-27 14:53] nader77 commented on #331
@noamoss 👍

[2017-06-27 14:54] noamoss opened #434 "Homepage events boxes improve content [2h]"
https://github.com/Gizra/Municipality/issues/333#issuecomment-311375630:

* [x]  Align events boxes right for Hebrew and Arabic:
* [x] Add space after calendar icon + add space after comma + move to the next line the `weekly` icon.

![selection_552](https://user-images.githubusercontent.com/18241741/27594940-e826d4c4-5b63-11e7-8921-3bdf9ccbb32d.png)
![selection_560](https://user-images.githubuserc

[2017-06-27 14:55] noamoss commented on #434
@savyoncohen please add a clearer screenshot (with arrows) to the description.

[2017-06-27 14:58] noamoss opened #435 "Homepage events block - show only start date when end date identical [3h]"
https://github.com/Gizra/Municipality/issues/333#issuecomment-311375630:

When end date for event is identical to start date, Don't show '-' + [end date]

![selection_555](https://user-images.githubusercontent.com/18241741/27592522-59f51130-5b5d-11e7-84c2-876385f354d8.png)

Please notice: this feedback is also relevant when implementing #346

[2017-06-27 14:59] noamoss commented on #435
@savyoncohen before moving to fix - please add a screenshot to prove it is not a content/editor error: if there is no value in "end date" field, it is a bug. If the editor added an end date, we should keep in mind not doing so --> you can close the issue.

(cc @liatsade )

[2017-06-27 15:02] noamoss opened #436 "homepage set a fixed size for images on news block [2h]"
https://github.com/Gizra/Municipality/issues/333#issuecomment-311375630:

![image](https://user-images.githubusercontent.com/18241741/27593006-b5cff7ee-5b5e-11e7-8b0a-81a33759c9b5.png)

[2017-06-27 15:08] noamoss opened #437 "Homepage events blog on mobile display: align to center [2h]"
https://github.com/Gizra/Municipality/issues/333#issuecomment-311375630 :

on mobile (narrow) screens:

![selection_558](https://user-images.githubusercontent.com/18241741/27593046-d0073230-5b5e-11e7-9d2b-d95af1196fea.png)

[2017-06-27 15:10] noamoss commented on #333
Created relevant followups, will close this issue after getting an answer of one relevant question from Nader.

 #432

#433

already taken care in #431.

updated description on #331 + reminder to add an automatic tests.

#434

#435

#436 (also added a relevant reminder in  #346 description)

#437

[2017-06-27 15:10] noamoss commented on #333
( @nader77 is is this relate to #263? If not I will create a separate followup)

[2017-06-27 15:14] savyoncohen commented on #434
@noamoss I added screenshots ^^

[2017-06-27 15:30] savyoncohen commented on #435
@noamoss There is an end date. so we can't add hours without duplicating the date?
![image](https://user-images.githubusercontent.com/18241741/27595869-88702d7a-5b66-11e7-8252-705f0d1350b8.png)

[2017-06-27 15:33] noamoss commented on #435
@nader77 basically the problem here is that the time and date fields in the UI are combined, so editor has to enter date when they input end time. If you can think of a better/faster solution than the one in the description, we can consider it.

[2017-06-28 06:39] amitaibu opened #438 "Redirect to group node instead of homepage [4h]"
We seem to ignore the fact that when going to https://dev-municipality.pantheonsite.io/municipality-4 (e.g. via clicking on the logo), we are redirected to the list of Municipalities.

We should probably redirect from homepage to the group node, when inside `og_context()`.

[2017-06-28 06:42] savyoncohen commented on #392
@noamoss Fixed on `test`:
![selection_562](https://user-images.githubusercontent.com/18241741/27623649-0c739362-5be6-11e7-871a-509243489f9a.png)
![selection_563](https://user-images.githubusercontent.com/18241741/27623650-0c763efa-5be6-11e7-97c8-71b3898cc4ab.png)

[2017-06-28 06:42] amitaibu opened #439 "Homepage + Topic page Events Block: Don't show Events block when there are no upcoming events[3h]"
https://dev-municipality.pantheonsite.io/al-kasom/node/3?language=he

![_ _ ___municipality](https://user-images.githubusercontent.com/125707/27623646-09ae73f4-5be6-11e7-8363-01d48e30d119.jpg)

If there are no events,  we shouldn't show block.

[2017-06-28 06:43] savyoncohen commented on #415
@noamoss It's already fixed, I moving it to QA column
![image](https://user-images.githubusercontent.com/18241741/27623693-455d0500-5be6-11e7-94b6-66cae9fb0f9d.png)

[2017-06-28 06:54] savyoncohen commented on #380
@noamoss Fixed on `test`:
![selection_565](https://user-images.githubusercontent.com/18241741/27624019-c0a653f0-5be7-11e7-8387-a63e72377431.png)

[2017-06-28 06:57] savyoncohen commented on #426
@noamoss It's fixed:
![image](https://user-images.githubusercontent.com/18241741/27624174-3cd9c6b4-5be8-11e7-8260-7a13ee408cf8.png)

[2017-06-28 07:05] savyoncohen commented on #348
@nader77 I can see that you already added tests in the PR. is there anything to check here?

[2017-06-28 07:14] nader77 commented on #348
No thanks.

[2017-06-28 07:23] savyoncohen commented on #365
@noamoss
- I can only add content, I can't edit or delete it.
When I try to add any type of content I can't fill the audience field, so I can't really add any content:
![selection_571](https://user-images.githubusercontent.com/18241741/27624923-697a87a0-5beb-11e7-8e11-5d5430e58d99.png)
- I can't see taxonomies at all:
![screenshot from 2017-06-28 10 15 41](https://user-images.githubusercontent.com

[2017-06-28 07:47] nader77 commented on #365
@savyoncohen Maybe you need to be inside an OG context, editors will be able to see only their group, and the taxonomy is inside the the `group` tab.

[2017-06-28 07:48] nader77 commented on #365
anyway @noamoss we can discuss it tomorrow and see if we can improve the behavior.

[2017-06-28 07:52] savyoncohen commented on #365
@nader77 @noamoss
-I am at the right context : http://test-municipality.pantheonsite.io/municipality-1/node/101?language=en
user: savyon pass:1234
- Also what about the translate issue, there should have access to this too.

![image](https://user-images.githubusercontent.com/18241741/27626119-8f42b7ce-5bef-11e7-95c2-04da2930b57e.png)

[2017-06-28 07:54] nader77 commented on #365
I think they should have access to translations as well now that you mention it, it wasn't specified in the issue.

@noamoss @liatsade ^^

[2017-06-28 08:10] savyoncohen commented on #334
@noamoss
-[x] h1 header  - topic title
-[x] news and updates (title in h2)
-[x] FAQ (title in h2)
-[x] actions (title in h2)
-[x] events (title in h2)
-[x] contacts (title in h2)
http://test-municipality.pantheonsite.io/municipality-4/taxonomy/term/19?language=he
- Align right the news text for hebrew and arabic, and align left for english.
![image](https://user-images.githubusercontent.com/182417

[2017-06-28 08:20] savyoncohen commented on #334
@noamoss One more thing:
The home link doesn't lead to the homepaage node:
![image](https://user-images.githubusercontent.com/18241741/27627237-b6b9273a-5bf3-11e7-88d4-2c35e21e3535.png)

[2017-06-28 08:35] amitaibu commented on #334
@savyoncohen that one is in https://github.com/Gizra/Municipality/issues/438

[2017-06-28 09:51] savyoncohen commented on #391
Update: Add 2 more tests to this issue in the first comment + I'm adding another helper function. I'm adding 1.5 to the issue

[2017-06-28 11:13] nader77 commented on #436
@noamoss I can't fix the width and height of the images, images will get distorted, I am fixing width, those 2 specific images have a huge difference in proportions, here's an example of 2 horizontal  images with huge difference in resolution:

![_ ___municipality](https://user-images.githubusercontent.com/7369740/27634399-bf21f966-5c0b-11e7-9991-e6d78baf78de.jpg)

They look normal because they ar

[2017-06-28 11:18] amitaibu commented on #436
@nader77 use image styles?

[2017-06-28 11:22] nader77 commented on #436
Will also distort image, unless I use cropping ?

[2017-06-28 11:25] nader77 commented on #436
Yeah, will distort image and scaling is the same as the default styles.

[2017-06-28 11:27] nader77 commented on #436
Is cropping acceptable ?

[2017-06-28 11:36] amitaibu commented on #436
Sure

[2017-06-28 11:39] savyoncohen opened #445 "Basic page tests"
#396

[2017-06-28 11:39] #445 closed

[2017-06-29 06:35] #392 closed

[2017-06-29 06:40] noamoss commented on #439
Updated topic description and title. Relevant both for home page and topic page.

[2017-06-29 06:41] #415 closed

[2017-06-29 06:42] #380 closed

[2017-06-29 06:43] #426 closed

[2017-06-29 06:43] #348 closed

[2017-06-29 07:06] noamoss commented on #365
@nader77

let's try to talk today, as edit/delete and target audience should be available to editors.

If we are talking here about interface strings translations, editors should have access to that. This will be done by us (as admins of the general system). bottom line: no need to change.

cc @liatsade

[2017-06-29 07:10] noamoss opened #448 "Topic Page: Align right the news text for hebrew and arabic, and align left for english [2h]"
https://github.com/Gizra/Municipality/issues/334#issuecomment-311588533:

![image](https://user-images.githubusercontent.com/18241741/27625211-8000f094-5bec-11e7-88e4-16a5ec258bc8.png)

![image](https://user-images.githubusercontent.com/18241741/27626728-c5e4dc38-5bf1-11e7-9836-b4ef9e7252e5.png)

[2017-06-29 07:13] noamoss opened #449 "Topic Page: FAQ change to theme default accordion (set to be closed by default) [2h]"
![image](https://user-images.githubusercontent.com/18241741/27626353-745da864-5bf0-11e7-969b-d2faf63a92b1.png)

(similar to #431 )

[2017-06-29 07:17] noamoss opened #451 "Topic page: set a fixed size for event block (for no image scenario) [2h]"
https://github.com/Gizra/Municipality/issues/334#issuecomment-311588533:

Set a fixed size (or a place holder) to make sure all events in the block looks good one next to each other.

![selection_578](https://user-images.githubusercontent.com/18241741/27626429-b3484200-5bf0-11e7-9989-4fad86bf7269.png)

[2017-06-29 07:18] amitaibu commented on #451
I suspect css `flex` could help here

[2017-06-29 07:20] nader77 commented on #451
@noamoss This has been done here #444, using classes from the theme.

[2017-06-29 07:27] noamoss opened #452 "Topic page set contact card - fix links [1h]"
* [ ] Contact person `email` should not be opened in a new tab.
* [x] Contact person `phone number` should no start with `mailto` and also should not be opened in a new tab:

![selection_581](https://user-images.githubusercontent.com/18241741/27626595-539ce54e-5bf1-11e7-82b5-3f0a007b7b7e.png)

[2017-06-29 07:28] noamoss commented on #334
Opened and organized follow ups, closing the issue:

#448

they should: #449.

#451

#452

[2017-06-29 07:28] #334 closed

[2017-06-29 07:37] nader77 commented on #333
@noamoss It is.

[2017-06-29 08:00] noamoss commented on #333
closing this issue then.

[2017-06-29 08:00] #333 closed

[2017-06-29 08:05] savyoncohen commented on #336
@noamoss
http://test-municipality.pantheonsite.io/municipality-1/node/54?language=en
when I choose a language that the news is not translated: english, I am suppose tot see the content in arabic, default language. I don't see the body content:
![selection_591](https://user-images.githubusercontent.com/18241741/27677577-e1af9b32-5cba-11e7-8d67-aea0ed8ce133.png)

[2017-06-29 08:38] noamoss commented on #336
@savyoncohen you are right, but this is not a required (i.e. "a must") feature for now. I prefer to move on. Editors (and future content contributors) will have to be responsible for creating a translation. Let's move on.

[2017-06-29 08:38] #336 closed

[2017-06-29 08:42] savyoncohen opened #454 "Basic page - Arabic title overrides the English title [4h]"
http://test-municipality.pantheonsite.io/municipality-1/node/66?language=en

WDIO tests are already written in this PR: #446, which will be merged after this issue is solved.

Here is the Arabic title:
![selection_592](https://user-images.githubusercontent.com/18241741/27678962-cc35298e-5cbf-11e7-92ea-5eef846c5921.png)

Here is the English title:
![selection_593](https://user-images.githubusercont

[2017-06-29 08:43] savyoncohen commented on #454
@noamoss Please assign someone

[2017-06-29 08:57] savyoncohen commented on #451
@nader77 Why not adding default image?

[2017-06-29 09:02] nader77 commented on #451
That's up to @noamoss to decide, not me, if yes, please provide a default image.

[2017-06-29 09:13] savyoncohen commented on #397
@noamoss After your comment [here](https://github.com/Gizra/Municipality/issues/336#issuecomment-311900921), please confirm that I can remove the second test for all users ^^

[2017-06-29 09:25] noamoss commented on #451
@savyoncohen @savyoncohen because sometimes it might be better to skip images. closing issue.

[2017-06-29 09:25] #451 closed

[2017-06-29 09:27] noamoss commented on #397
@savyoncohen yes. we are giving up on it for now.

[2017-06-29 09:30] nader77 commented on #335
@noamoss This is in the wrong column.

[2017-06-29 10:35] nader77 commented on #452
@noamoss this doesn't make sense, `mailto` is an external link which will open the user's email client which can be `gmail` this will close the site and open `gmail`.

[2017-06-29 10:49] noamoss commented on #452
@nader77

ok. let's take care only the phone number

[2017-07-02 06:24] nader77 commented on #449
@savyoncohen When you are testing this, please pay attention that you have to assign some FAQ to a topic, I had to delete topics and import them back.

[2017-07-02 09:31] nader77 commented on #454
@noamoss I need more time on the time-box to fix the tests.

[2017-07-02 09:32] noamoss commented on #454
@nader77 bumped up.

[2017-07-02 09:38] nader77 commented on #454
Cheers,

[2017-07-02 10:21] savyoncohen commented on #433
@noamoss Fixed on `test`:
![selection_597](https://user-images.githubusercontent.com/18241741/27768995-5e7377e0-5f29-11e7-9df2-0ae181fff3da.png)
![selection_598](https://user-images.githubusercontent.com/18241741/27768996-5e74870c-5f29-11e7-8299-26ffc8783f67.png)

[2017-07-02 10:31] savyoncohen commented on #396
@noamoss Can I give up the second test here too?
 we said it's up to the editor to translate the content

[2017-07-02 10:32] nader77 commented on #338
@noamoss The request in the description is not relevant anymore with the new design, as you can see in the screenshot, the bottom part of switchers and icons is very orginaized, you should just tell me what to do with the top part, which has the following elements:
1. Logo
2. Muni name.
3. Font-size switcher.

[2017-07-02 10:55] noamoss commented on #338
@nader77
![image](https://user-images.githubusercontent.com/3581741/27769203-ac2db924-5f2d-11e7-98ad-02ce1f49bef1.png)

basically we need to move those switchers to the header, but there is some extra things to change (Assuming RTL in the following description);

1. logo should be top right, same height like muni name title (h1).
2. muni name should be centered.
3. accessibility ruler top left.
--

[2017-07-02 10:56] noamoss commented on #396
@savyoncohen indeed (yep).

[2017-07-02 11:00] savyoncohen commented on #434
@noamoss fixed on `test`:
Hebrew:
![selection_599](https://user-images.githubusercontent.com/18241741/27769253-bc8ba8de-5f2e-11e7-9892-0bea4e355c96.png)
English:
![selection_600](https://user-images.githubusercontent.com/18241741/27769252-bc8b253a-5f2e-11e7-8081-5064870ceda8.png)
Arabic:
![selection_601](https://user-images.githubusercontent.com/18241741/27769254-bc8d1d54-5f2e-11e7-8ab9-b41020d820

[2017-07-02 11:03] savyoncohen commented on #435
@noamoss Works as expected:
![selection_602](https://user-images.githubusercontent.com/18241741/27769273-25642d36-5f2f-11e7-8d92-1dc3f8ee9d44.png)

[2017-07-02 11:12] #434 closed

[2017-07-02 11:14] #433 closed

[2017-07-02 11:15] #435 closed

[2017-07-02 11:19] noamoss commented on #335
@savyoncohen moved column (notice your [last question](https://github.com/Gizra/Municipality/issues/335#issuecomment-311052688) , not sure if it is still relevant and how).

[2017-07-02 11:22] savyoncohen commented on #384
@noamoss Fixed on `test`:
![image](https://user-images.githubusercontent.com/18241741/27769444-d53d3318-5f31-11e7-8c72-61bce3d68546.png)

[2017-07-02 11:23] #384 closed

[2017-07-02 11:25] #290 closed

[2017-07-02 11:26] #296 closed

[2017-07-02 11:26] #315 closed

[2017-07-02 11:27] #364 closed

[2017-07-02 11:28] noamoss commented on #5
@liatsade I leave this open for the upcoming 2-3 days, just to make sure no WYSIWG editor is missinsg on the editor view.

[2017-07-02 11:28] #255 closed

[2017-07-02 11:36] savyoncohen commented on #448
@noamoss Fixed on `test`:
![selection_604](https://user-images.githubusercontent.com/18241741/27769501-e4028aae-5f33-11e7-8209-108975553060.png)
![selection_605](https://user-images.githubusercontent.com/18241741/27769502-e41e8f56-5f33-11e7-95d1-dd65731cf403.png)
![selection_606](https://user-images.githubusercontent.com/18241741/27769503-e42f1970-5f33-11e7-9b86-719c8421ccaa.png)

[2017-07-02 11:39] savyoncohen commented on #438
@noamoss Works as expected, also from logo:
![selection_607](https://user-images.githubusercontent.com/18241741/27769516-353a3278-5f34-11e7-944b-6c1be1a2c9a7.png)
![selection_608](https://user-images.githubusercontent.com/18241741/27769517-353b176a-5f34-11e7-847a-9af959f73858.png)

[2017-07-02 11:40] #448 closed

[2017-07-02 11:41] #438 closed

[2017-07-02 12:12] noamoss commented on #365
closing following the discussion.

[2017-07-02 12:23] noamoss commented on #365
@savyoncohen please [try this](https://github.com/Gizra/Municipality/issues/365#issuecomment-311578795) following the instructions on the Wiki.

( cc @nader77 please add the relevant link here)

[2017-07-02 12:30] savyoncohen commented on #452
@nader77 For some reason I can't find the contact person on the topic page:
http://test-municipality.pantheonsite.io/municipality-4/node/106?language=he
http://test-municipality.pantheonsite.io/municipality-4/taxonomy/term/28?language=he
![image](https://user-images.githubusercontent.com/18241741/27769818-2d2edadc-5f3b-11e7-9699-8ddf16875a43.png)

[2017-07-02 12:32] savyoncohen commented on #431
@noamoss Fixed on `test`:
![selection_610](https://user-images.githubusercontent.com/18241741/27769836-9b2a4404-5f3b-11e7-91c6-1da52e150738.png)
![selection_611](https://user-images.githubusercontent.com/18241741/27769837-9b2be7fa-5f3b-11e7-81b3-6ac89753c8b0.png)

[2017-07-02 12:34] savyoncohen commented on #432
@noamoss Added to homepage:
![selection_612](https://user-images.githubusercontent.com/18241741/27769852-ee123ed8-5f3b-11e7-86dd-8c47974a5ff0.png)
![selection_613](https://user-images.githubusercontent.com/18241741/27769851-ee11261a-5f3b-11e7-8146-63e49bd7de92.png)
![selection_614](https://user-images.githubusercontent.com/18241741/27769853-ee146550-5f3b-11e7-8401-25eeda9997b9.png)

[2017-07-02 12:36] nader77 commented on #452
@savyoncohen As I said in the meeting, the topics has been re-set, please edit some contacts in any group you want and assign them to any topic you want.

[2017-07-02 12:36] nader77 commented on #365
@noamoss @savyoncohen @liatsade
https://github.com/Gizra/Municipality/wiki/Editor-role

[2017-07-02 12:37] #431 closed

[2017-07-02 12:37] #432 closed

[2017-07-02 12:38] savyoncohen commented on #449
@noamoss Fixed on `test`:
![image](https://user-images.githubusercontent.com/18241741/27769869-6c324ab0-5f3c-11e7-8547-977ead489f3a.png)
![image](https://user-images.githubusercontent.com/18241741/27769871-6fd153dc-5f3c-11e7-8279-c5fae90d2361.png)

[2017-07-02 12:39] #449 closed

[2017-07-02 12:42] savyoncohen commented on #365
@noamoss Now it looks different, I have the group audience and edit tab+ delete button.
![selection_619](https://user-images.githubusercontent.com/18241741/27769884-ef05ac7a-5f3c-11e7-886c-9f7d788d8b19.png)
![image](https://user-images.githubusercontent.com/18241741/27769892-088db228-5f3d-11e7-82ba-503ad72ebb41.png)

![image](https://user-images.githubusercontent.com/18241741/27769886-f34f7b6c-5f3

[2017-07-02 12:43] noamoss commented on #268
@amitaibu following staff meeting today: seems like a simple setting in the OG, which should be implemented and tested on `live`. Two options:

a. Waiting for a real municipality to use the platform as an official website, including their official domain (*.muni.il)
b. Getting a example domain for demonstrations.

( cc @nader77 please correct if I did not describe it correctly)

[2017-07-02 12:44] savyoncohen commented on #365
@noamoss I can add, edit and delete content

[2017-07-03 06:45] noamoss opened #461 "Editor Permissions: prevent seeing other groups content [2h]"
created an editor user, as described [in the wiki](), but I can still see content related to other munis in the admin view (http://live-municipality.pantheonsite.io/admin/content?language=he&user_type=businesses ) :

![image](https://user-images.githubusercontent.com/3581741/27780885-2c1c58f6-5fd4-11e7-827d-83bf19c675ec.png)

[2017-07-03 06:45] noamoss commented on #461
@savyoncohen please try to reproduce with a new editor user, and reassign me.

cc @liatsade please check if that happens to you also.

[2017-07-03 07:25] liatsade commented on #365
@nader77 two permissions that was defined in the issue description were missing:

Translate entities of type Taxonomy term

I added them manually on LIVE, but need to be added in code.

[2017-07-03 07:45] noamoss opened #462 "Topics pages: add an intro text to theme [4h]"
Based on Al-Qasum real content examples, use the topic description field to be displayed on topic pages

![image](https://user-images.githubusercontent.com/3581741/27781380-4a7f1cbe-5fd6-11e7-9bbe-96b0286807a0.png)

location and styles:

![image](https://user-images.githubusercontent.com/3581741/27782801-a4d850b2-5fdc-11e7-9159-09d6feb2f719.png)

* usability matters: add a quick "edit" link next t

[2017-07-03 08:01] noamoss opened #463 "Lets editor decide FAQs order in topic [2h]"

[2017-07-03 08:01] noamoss opened #464 "Let Editor Decide Action Items Order in Topic Page [2h]"

[2017-07-03 08:02] savyoncohen commented on #461
@noamoss I can see the content title, without the ability to edit it:
![selection_636](https://user-images.githubusercontent.com/18241741/27783473-07ce369e-5fdf-11e7-8d96-b15e80a8b8e4.png)
![selection_637](https://user-images.githubusercontent.com/18241741/27783474-07cf6384-5fdf-11e7-9e8c-44ec26c7fb26.png)
![selection_638](https://user-images.githubusercontent.com/18241741/27783475-07ec1cfe-5fdf-1

[2017-07-03 08:05] noamoss opened #465 "Let Editor Decide promoted FAQ order in homepage [2h]"

[2017-07-03 08:06] noamoss opened #466 "Let Editor Decide promoted Actions order in homepage [2h]"

[2017-07-03 08:08] savyoncohen commented on #454
@noamoss Fixed on `live`:
![selection_639](https://user-images.githubusercontent.com/18241741/27783699-f80baff6-5fdf-11e7-8ca4-79883af60bb9.png)
![selection_640](https://user-images.githubusercontent.com/18241741/27783700-f80e4b8a-5fdf-11e7-99aa-3a311d42bdcc.png)

[2017-07-03 08:15] savyoncohen commented on #263
@noamoss I'm not sure if they are suppose to be in color, it's only when hovering:
![selection_641](https://user-images.githubusercontent.com/18241741/27783927-dacd83be-5fe0-11e7-962c-7d9475e37cba.png)
![screenshot from 2017-07-03 11 15 08](https://user-images.githubusercontent.com/18241741/27783950-ed8aedb6-5fe0-11e7-88e4-241671379119.png)

only this municipality have icon the rest have empty cir

[2017-07-03 08:21] nader77 commented on #263
@noamoss @savyoncohen Remember, you are supposed to follow in the instructions [here](https://github.com/Gizra/Municipality/pull/459#issuecomment-312486729) to get the icons.

Also this is the theme's icons, we don't want to change them, maybe we need to remove some margin from the icons.

[2017-07-03 08:24] savyoncohen commented on #437
@noamoss Fixed on `live`:
![selection_645](https://user-images.githubusercontent.com/18241741/27784234-24b2f51c-5fe2-11e7-96ae-7233665154a9.png)
![selection_646](https://user-images.githubusercontent.com/18241741/27784235-24d278f6-5fe2-11e7-943a-1ac453125218.png)

[2017-07-03 08:30] #454 closed

[2017-07-03 08:32] savyoncohen commented on #452
@nader77 But it's a new contact i just added.
I added again on `live` env, still can find it on topics page.
http://live-municipality.pantheonsite.io/municipality-2/node/113?language=he
http://live-municipality.pantheonsite.io/municipality-2/taxonomy/term/23?language=he

[2017-07-03 08:37] noamoss opened #467 "Improve homepage visuality when no content is promoted (blocks order + display/hide) [4h]"
<img width="682" alt="image" src="https://user-images.githubusercontent.com/3581741/27784642-7845d55e-5fe3-11e7-99b1-2397b50e79ab.png">

* [ ] 1) when there are no Action Items,:
news block should take top left position, events should appear at the  lower right corner.

* [ ] 2) When there are no promoted  events / contacts / News / Faqs, hide relevant block.

[2017-07-03 08:37] #437 closed

[2017-07-03 08:47] savyoncohen commented on #436
@noamoss Images are fixed now, but we need to fix circles and text position:
![selection_649](https://user-images.githubusercontent.com/18241741/27785112-33e51094-5fe5-11e7-8030-f05553371218.png)

![selection_647](https://user-images.githubusercontent.com/18241741/27785048-fe8a05b2-5fe4-11e7-8e13-874ea26f769d.png)
![selection_648](https://user-images.githubusercontent.com/18241741/27785109-2f47804

[2017-07-03 08:57] noamoss commented on #436
moving to the QA feedback column, moving out indication labels.

[2017-07-03 09:00] savyoncohen commented on #396
@noamoss I've checked all editor issues, the only problem is adding an image through the WYSIWYG ,  if I click on the browse server I get to this page:
![selection_651](https://user-images.githubusercontent.com/18241741/27785752-41b1406a-5fe7-11e7-8ec0-378a2fc08f3a.png)
![selection_652](https://user-images.githubusercontent.com/18241741/27785763-4592d694-5fe7-11e7-8848-407a37fd3c71.png)

[2017-07-03 09:03] nader77 commented on #452
@savyoncohen Looks like some other bug, please open a new issue because it's not connected to this.

[2017-07-03 09:07] noamoss commented on #396
@amitaibu ^^^ any suggestions?
(I think adding an image through the WYSIWG is a basic requirements in our case.)

[2017-07-03 09:09] savyoncohen opened #468 "Contact cards don't appear on a topic page [4h]"
I added a new contact, connected to a topic, and I can't see it on topic page

http://live-municipality.pantheonsite.io/municipality-2/node/113?language=he
http://live-municipality.pantheonsite.io/municipality-2/taxonomy/term/23?language=he
![image](https://user-images.githubusercontent.com/18241741/27786069-607a422a-5fe8-11e7-9203-6f3f03a23850.png)
![selection_654](https://user-images.githubuserc

[2017-07-03 09:09] noamoss commented on #263
works as expected.

[2017-07-03 09:09] #263 closed

[2017-07-03 09:09] savyoncohen commented on #468
@noamoss Please assign someone

[2017-07-03 09:10] savyoncohen commented on #452
@noamoss I opened a new issue, I will test this issue, when this: #468 is solved.

[2017-07-03 09:23] savyoncohen commented on #335
@noamoss This is the description in the first [comment](https://github.com/Gizra/Municipality/issues/335#issue-235648664) :

1. H1 action title

[2017-07-03 09:24] noamoss commented on #335
@savyoncohen no problem. is everything else ok?

[2017-07-03 09:28] savyoncohen commented on #335
@noamoss Yes, now the section titles are bolded too:

![image](https://user-images.githubusercontent.com/18241741/27786737-1913dac4-5feb-11e7-8209-f9c746fa77cb.png)

[2017-07-03 09:29] #335 closed

[2017-07-03 09:44] noamoss opened #469 "Action page (and content type): add an intro message [4h]"
Based on real content examples (al-qasum): action pages should include an intro text (WYSIWG), to appear before the steps/sections:

<img width="449" alt="image" src="https://user-images.githubusercontent.com/3581741/27787381-3929fd1e-5fed-11e7-975b-c69dbd117f15.png">

<img width="861" alt="image" src="https://user-images.githubusercontent.com/3581741/27787354-1e7b8000-5fed-11e7-81ae-ca6d2f1ffb1f.

[2017-07-03 10:28] noamoss opened #470 "homepage,news block: omit image border if there is no image [1h]"
<img width="483" alt="image" src="https://user-images.githubusercontent.com/3581741/27789014-73d39230-5ff3-11e7-8a3d-3ae06e844daa.png">

[2017-07-03 11:10] noamoss opened #471 "Improve Contacts content type: reception hours phone + office [3h]"
Following Al-Qasum real content input, duplicate the following section

<img width="509" alt="image" src="https://user-images.githubusercontent.com/3581741/27790483-404935a4-5ff9-11e7-9e73-348ef2d472f7.png">

(Need to describe a followup issue for the contacts blocks design)

[2017-07-03 11:17] noamoss opened #472 "Editor view theme error - scroll up bar hides the save/preview buttons [2h]"
<img width="1387" alt="image" src="https://user-images.githubusercontent.com/3581741/27790651-133d9e78-5ffa-11e7-8423-7b3efbf6b35a.png">

This happens usually when the editor view includes an expanding item (i.e. reception days/hours in this example). Happened also in the Action Page page.

Sounds minor, but basically requires editor to find hacks to save/preview their content.

cc @liatsade

[2017-07-03 11:23] noamoss commented on #468
another example: http://live-municipality.pantheonsite.io/municipality-3/node/136?language=he&user_type=businesses

![image](https://user-images.githubusercontent.com/3581741/27790866-21458584-5ffb-11e7-9ac6-4be13e42912e.png)

[2017-07-03 11:27] noamoss opened #473 "contacts contact type, add responsiblities field [4h]"
add a textual field (plain text) to describe what does the contact person is doing:

<img width="581" alt="image" src="https://user-images.githubusercontent.com/3581741/27790975-9539ba14-5ffb-11e7-9ee9-0c893be29cba.png">

(need to create a followup to show how/where is appears on contacts blocks)

[2017-07-03 11:27] noamoss commented on #473
( cc @liatsade )

[2017-07-03 11:34] noamoss opened #474 "Events blocks: better behaviour when there is no image [1h]"
Add a default value on events image field to prevent empty space on events blocks
<img width="483" alt="image" src="https://user-images.githubusercontent.com/3581741/27791223-ab441bf0-5ffc-11e7-8e2d-3eacf3399e0a.png">

file: https://goo.gl/images/zs1rUu

[2017-07-03 11:34] noamoss commented on #474
@liatsade what would you expect to happen here?

[2017-07-03 11:50] liatsade opened #476 "Events block appears in topic page even without content [2h]"
Example: http://live-municipality.pantheonsite.io/municipality-2/taxonomy/term/23?language=he

![_ _ ___municipality](https://user-images.githubusercontent.com/20393485/27791661-d90012fe-5ffe-11e7-898e-3289d0ffbc18.jpg)

When there is no content, the block should not appear.

[2017-07-03 11:55] liatsade opened #477 "Contact item doesn't appear in topic page [2h]"
Example: http://live-municipality.pantheonsite.io/municipality-2/taxonomy/term/23?language=he
Contact item that refer to this topic but doesn't appear: http://live-municipality.pantheonsite.io/municipality-2/node/102/edit?destination=admin/content%3Ftitle%3D%26type%3Dcontact%26author%3D%26status%3DAll%26vid%3D5%26language%3Dhe&language=he

![edit_contact_ _ ___municipality](https://user-images.git

[2017-07-03 12:00] liatsade opened #478 "Add `Administer content` permission to Editor in site level [1h]"
Already done manually on LIVE. Need to add to code.

[2017-07-03 12:09] amitaibu commented on #476
@liatsade Are you sure there shouldn't be events?

Accroding to the console.log the problem seems to be with Elm decoders. Worth confirming (manually) events should be there or not.

![_ _ ___municipality](https://user-images.githubusercontent.com/125707/27792251-77fe4cc0-6001-11e7-82a9-5b89e514cd96.jpg)

[2017-07-03 12:10] liatsade commented on #375
done.

[2017-07-03 12:10] #375 closed

[2017-07-03 12:12] liatsade commented on #474
@noamoss I'm not understanding the question, please clarify.

[2017-07-03 12:15] amitaibu commented on #468
Seems the same as https://github.com/Gizra/Municipality/issues/476

Note that one page with Elm, if something doesn't work -- it's worth opening the developer console.

[2017-07-03 12:17] liatsade commented on #476
@amitaibu from my check there are no events content refer to this topic page, so in that case the block should not appear.

![content___municipality](https://user-images.githubusercontent.com/20393485/27792485-9fb95b46-6002-11e7-9dc3-178fde4da4d1.jpg)

[2017-07-03 12:18] amitaibu commented on #476
Sababa. Anyway, need to fix the Elm decoder error.

[2017-07-03 12:20] liatsade commented on #476
@amitaibu I'm not sure #468 is the same problem, because in that case there is a content (so the block should appear). The problem is that the item missing in the block.

[2017-07-03 12:26] liatsade commented on #477
Duplicate with #468. Closed.

[2017-07-03 12:26] #477 closed

[2017-07-03 12:33] noamoss commented on #474
@liatsade I created an event, without any image. Savyon already pointed that in these scenarios we will have an empty space (see above) and I decided we will get to it later. If we make the single event border shorten, it will break the consistency of the block. So the only other solution I can think of is a placeholder. Any other idea? How would you (as an editor) expect events without image to l

[2017-07-03 12:35] amitaibu commented on #474
Always add an image :)

[2017-07-03 12:38] noamoss commented on #474
--->

make image field a required field. It is an option. Not sure what is better here. The fact is
that none of the 2 potential clients had images to attach to their materials.

[2017-07-03 12:39] liatsade commented on #474
no need to be required, we can use default image, in case they don't add image.

[2017-07-03 12:40] savyoncohen commented on #391
Closing this issue, tests were added

[2017-07-03 12:40] #391 closed

[2017-07-03 12:51] noamoss commented on #474
this one? https://goo.gl/images/iGcfvB

[2017-07-03 12:57] liatsade commented on #474
I prefer this one https://goo.gl/images/zs1rUu
אבל לא נלך לרב ;-)

[2017-07-03 13:02] noamoss commented on #474
@liatsade you got it.

[2017-07-03 14:34] noamoss opened #479 "Improve homepage mobile display [2h]"
![image](https://user-images.githubusercontent.com/3581741/27797318-e1677ca4-6015-11e7-84fb-ed504df432bb.png)

* [ ] municipality logo should don't cover municipality name (h1 title) (1)
* [ ] add spaced lines in muni name, consider minimizing font size (2)
* [ ] accessibility button should be vertically aligned as markds (3)

[2017-07-03 15:17] nader77 commented on #468
The problem is with the colors definitions in elm, I didn't change the colors, can I fix it or does it have to wait until after the freeze ?

[2017-07-03 17:12] nader77 commented on #468
I thought I'll deal with the colors when I get to the contacts page, I'll make a quick fix for the backend to send the expected values to Elm.

[2017-07-04 05:40] nader77 commented on #479
@noamoss This is part of #338, shouldn't be a bug.

[2017-07-04 07:05] noamoss commented on #338
adding comments/feedbacks #479:

![image](https://user-images.githubusercontent.com/3581741/27797318-e1677ca4-6015-11e7-84fb-ed504df432bb.png)

* [ ] municipality logo should don't cover municipality name (h1 title) (1)
* [ ] add spaced lines in muni name, consider minimizing font size (2)
* [ ] accessibility button should be vertically aligned as makred above (3).
( notice, for example, what's ha

[2017-07-04 12:51] liatsade opened #481 "Accessibility page [2h]"
Create accessibility page for all munis.

<img width="368" alt="image" src="https://user-images.githubusercontent.com/3581741/27878207-1cecc390-61c6-11e7-8ec5-8bfc1b9c8bd6.png">

[2017-07-04 12:51] liatsade commented on #481
@noamoss please review:
http://live-municipality.pantheonsite.io/municipality-1/node/152?language=he

[2017-07-04 13:06] liatsade commented on #200
@noamoss please report your content creations against this issue.
I already spent 10/20 hours.

[2017-07-05 18:01] noamoss opened #482 "Extra (nice) accessibiltiy methods [6h]"
Each of the following also requires a new icon in the accessibility ruller:
* [ ] links underline switcher (icon: http://fontawesome.io/icon/underline/)
* [ ] links background color switcher (no good icon yet)
* [ ] images gray scale switcher (no good icon yet)

[2017-07-05 18:22] noamoss commented on #481
@liatsade

small (but importnat) general comment:

This should be a common template for all munis, but some of the details might be different in reality, so part of the details might change from one site (muni/domain) to another).

<img width="1280" alt="image" src="https://user-images.githubusercontent.com/3581741/27878124-dab06f40-61c5-11e7-8e36-ae0d2dd87f03.png">

1. Text should be aligned to t

[2017-07-05 18:35] noamoss opened #483 "FAQ answers heading styles do not affect blocks on homepage + topic pages [3h]"
When editor mark texts with header styles (i.e. h3, h4 etc.) it should look different on the relevant blocks on homepage and topic pages.

Following example is for FAQ:
<img width="455" alt="image" src="https://user-images.githubusercontent.com/3581741/27879215-8b9904ae-61c9-11e7-9dfb-94363ac82b7c.png">

[2017-07-05 19:16] noamoss commented on #468
@nader77

http://live-municipality.pantheonsite.io/municipality-3/taxonomy/term/24?language=he:

<img width="482" alt="image" src="https://user-images.githubusercontent.com/3581741/27880932-6fcb88e0-61cf-11e7-8e88-d8a084166e9c.png">

relevant contact for example:
http://live-municipality.pantheonsite.io/municipality-3/node/137/edit?destination=admin/content/contacts%3Flanguage%3Dhe&language=he

[2017-07-05 19:21] noamoss opened #484 "Review Al-Qasum exmaple topic pages [1h]"
@liatsade

Grouped some the FAQ. Please add your comments/thoughts:
(right now igonre the missing contact's problem, reported at https://github.com/Gizra/Municipality/issues/468#issuecomment-313199539)

**Arnona:**
http://live-municipality.pantheonsite.io/municipality-3/taxonomy/term/24?language=he
<img width="482" alt="image" src="https://user-images.githubusercontent.com/3581741/27880997-b2b3d60

[2017-07-06 04:19] liatsade commented on #481
@noamoss

In the editor it is. The css of the theme cause it to be centered.
![edit_page_ _ ___municipality](https://user-images.githubusercontent.com/20393485/27895337-c77b9918-621a-11e7-8d08-52c7fbe98d86.jpg)

Same, css issue.

I changed the text title (in the body field) to H3. Any header outside the body field (i.e page title) cannot be control through the UI, it needs to be defined in code.

[2017-07-06 04:29] liatsade commented on #481
3- done.
4- done.
6- done.
7- done.

[2017-07-06 04:43] liatsade commented on #484
@noamoss
Content in all three pages (Arnona, Environment, Homepage) looks good.
Few comments:
1. FAQ - What about all the missing links you mentioned in the text?
2. Actions - All links lead to www.google.com
3. FAQ Environment - "לכניסה למפה של תאגיד אל"ה" is external link and should be open in new tab.

[2017-07-06 04:47] liatsade commented on #484
@noamoss
Your homepage screenshot different from what I see in the site - Did you change it?

Your screenshot:
![review_al-qasum_exmaple_topic_pages__1h__ _issue__484_ _gizra_municipality](https://user-images.githubusercontent.com/20393485/27895923-2bd6cafa-621f-11e7-8e0a-0d93310ddafb.jpg)

On site:
![_ _ ___municipality](https://user-images.githubusercontent.com/20393485/27895940-4f2a4f2c-621f-11

[2017-07-06 05:14] nader77 commented on #468
The issue is in contact's days and hours, checking how to solve it, you should've opened a new issue and added a new time estimation.

[2017-07-06 05:56] noamoss opened #486 "WYSIWG: impelement editor's design [4h]"
https://github.com/Gizra/Municipality/issues/481#issuecomment-313185665

On the following fields, apply the editor's choice for
* Heading style
* alignment
* fonts
* font style (bold/italic/underline/etc.)
* Paste plain text
* Paste from word

* [ ] basic page
* [ ] news page
* [ ] faq block (appears in homepage and in topic page)

---

editor:
![edit_page_ _ ___municipality](https://user-images.g

[2017-07-06 05:59] noamoss commented on #483
closing in favor of #486.

[2017-07-06 05:59] #483 closed

[2017-07-06 06:01] noamoss opened #487 "general theme: increase default normal font size [1h]"
https://github.com/Gizra/Municipality/issues/481#issuecomment-313185665

current display is too small for reading. increase by 2-4 pts.

[2017-07-06 06:05] noamoss commented on #481
no good. the content editors will need this kind of control over their the texts.

created followups:  #486 #487

closing this one.

[2017-07-06 06:05] #481 closed

[2017-07-06 06:11] noamoss commented on #484
@liatsade

Hoped to get real PDF forms from Hofit, but yesterday she updated that they don't exist. It is strengthening what we already knew - the need for digital mechanism to create new forms.

I know, same reason as describe above.

fixed.

yes, I just noticed all events were taken (automatically, I guess) from Kiryat-Malachi examples, so I removed them.

[2017-07-06 06:11] #484 closed

[2017-07-06 06:25] noamoss commented on #468
not sure why - the original problem reported here is not solved, let's keep working on this one. Extended timebox.

[2017-07-06 07:19] amitaibu opened #488 "Add `Developed and Designed by Gizra` to footer [2h]"
Because it's legit.

@noamoss

[2017-07-09 05:16] nader77 commented on #468
@noamoss Long issues man, it's an issue, looks like the same issue, it's not.

Also timebox is not enough, I already spent 4 hours on it and I need to fix some more tests, please open a new issue with a timebox of 6.

[2017-07-09 05:27] noamoss opened #489 "Contact cards don't appear on a topic page, part 2 [6h]"
follow up of #468

[2017-07-09 05:28] noamoss commented on #468
@nader77 #489
closing this one, both will be checked on #489 implementation.

[2017-07-09 05:28] #468 closed

[2017-07-09 06:49] nader77 commented on #338
@noamoss I have added the timebox from the mobile issue to here.

[2017-07-09 09:53] liatsade commented on #338
@noamoss
Need to add "הרשות שלי" link in the header, which leads to about page (page the editor will create or we will create in advance with permanent url and the editor can only edit).

![_ ___municipality](https://user-images.githubusercontent.com/20393485/27992826-8cb9716e-64a5-11e7-9dc8-fd7d313c9775.jpg)

[2017-07-09 09:54] noamoss commented on #338
@nader77 ^^ It is part of the original description, but I added another hour, just in case.

[2017-07-09 10:03] liatsade commented on #200
@noamoss
Only 2h left on this issue. I need 4h (2h more) to finish create Tuba's content.

[2017-07-09 10:04] nader77 commented on #338
You can't do that because it's of type page and editors have permissions to create, edit and delete nodes of type "page".

What I think I should do is add a unique ID field to the pages (not required) and if a muni have this page with this unique ID then I'll show the link, unique ID could be `municipality_about_page`.

[2017-07-09 10:08] noamoss commented on #338
fine by me. @liatsade ?

[2017-07-09 10:09] noamoss commented on #200
@liatsade bumped up.

[2017-07-09 10:23] liatsade commented on #338
@noamoss @nader77 sound good.

[2017-07-09 11:30] nader77 commented on #338
@noamoss @liatsade Because the "term page" functionality is a reference from the muni to this page, I'm going to do the same with the "about page", just a reference field in the muni itself that you can choose which page is the about page.

[2017-07-09 11:34] noamoss commented on #338
👍

[2017-07-09 11:35] liatsade commented on #338
@nader77 Yes, better solution.

[2017-07-09 14:48] nader77 commented on #436
Fixed in #470

[2017-07-09 14:48] #436 closed

[2017-07-09 15:00] nader77 commented on #486
@noamoss I can change the editor's profile for all the fields for the editors or not, the middle ground is messy and usually buggy.

[2017-07-09 15:30] noamoss commented on #486
@nader77 so will be, let's do it for all of them.

[2017-07-10 05:43] nader77 commented on #486
Ok

[2017-07-10 06:45] savyoncohen commented on #470
@noamoss Looks better now on `test`:
![selection_678](https://user-images.githubusercontent.com/18241741/28005650-7351319e-6554-11e7-8f43-15127aed598b.png)
![selection_679](https://user-images.githubusercontent.com/18241741/28005651-735422b4-6554-11e7-9512-2e82c104c6f6.png)

[2017-07-10 06:49] savyoncohen commented on #476
@noamoss Fixed on `test`:
http://test-municipality.pantheonsite.io/municipality-3/taxonomy/term/24?language=he

![image](https://user-images.githubusercontent.com/18241741/28005771-16480256-6555-11e7-9a2b-663d97eac3f9.png)

[2017-07-10 06:56] savyoncohen commented on #478
@noamoss On `test`, I see it's in the code as well for all content types:
![selection_682](https://user-images.githubusercontent.com/18241741/28005979-f657c034-6555-11e7-847e-4f685bffcebf.png)
![selection_683](https://user-images.githubusercontent.com/18241741/28005980-f659fd36-6555-11e7-996f-63cc43e0d1bc.png)

[2017-07-10 07:00] savyoncohen commented on #472
@noamoss Fixed on `test`:
![selection_684](https://user-images.githubusercontent.com/18241741/28006100-8aa28882-6556-11e7-8ae6-d14cefcc74b3.png)
![selection_685](https://user-images.githubusercontent.com/18241741/28006101-8abed92e-6556-11e7-9159-12236aa6a5f1.png)

[2017-07-10 07:05] savyoncohen commented on #452
@noamoss Fixed on `test`:
![image](https://user-images.githubusercontent.com/18241741/28006266-3e06ef76-6557-11e7-8b3a-51c751faca70.png)

[2017-07-10 07:08] savyoncohen commented on #489
@noamoss Fixed on `test`, I'm opening a follow up issue to align the text when there is no image:
![selection_687](https://user-images.githubusercontent.com/18241741/28006375-b6977a50-6557-11e7-992b-8e48bcae21e9.png)

[2017-07-10 07:10] savyoncohen opened #496 "Align contact person on topics page when there is no image [1h]"
http://test-municipality.pantheonsite.io/municipality-2/taxonomy/term/23?language=he
![selection_687](https://user-images.githubusercontent.com/18241741/28006432-f2827768-6557-11e7-88c3-d00652f0ca60.png)

[2017-07-10 07:11] savyoncohen commented on #496
@noamoss Please assign someone

[2017-07-10 09:21] #476 closed

[2017-07-10 09:21] #478 closed

[2017-07-10 09:22] #472 closed

[2017-07-10 09:24] #452 closed

[2017-07-10 09:25] #489 closed

[2017-07-10 10:16] #470 closed

[2017-07-11 12:24] noamoss commented on #462
@liatsade FYI added a usability matter to the description, following our last discussions.

[2017-07-11 12:27] noamoss commented on #410
@liatsade see my usability addition to the description. Any other idea for this upcoming page?

[2017-07-11 12:29] noamoss commented on #345
@liatsade FYI, I added a usability comment to the description, please add of your own if you have any other idea.

[2017-07-12 04:34] liatsade commented on #410
@noamoss this particular content is a node view, so we have the Edit link out of the box, no need to add it (just make sure the theme displays it).

[2017-07-12 04:36] liatsade commented on #345
@noamoss Perfect.

[2017-07-12 04:39] liatsade commented on #345
@noamoss "when user **with the edit permission** logged in" is more accurate.

[2017-07-12 06:42] noamoss commented on #410
@liatsade thanks, changed in the description.

[2017-07-13 10:40] nader77 commented on #462
@noamoss Under-estimated, you didn't update the estimation for adding the edit link.

[2017-07-13 10:42] noamoss commented on #462
@nader77 thanks. bumped up.

[2017-07-13 10:42] nader77 commented on #496
@noamoss Do you want to have an empty space if the contact doesn't have a picture? (will look very weird) or better still have a default picture?

[2017-07-13 10:44] nader77 commented on #410
@noamoss Did you add a design for the event page on the static site? Because the design in the screenshot doesn't show any of the fields.

[2017-07-13 10:46] nader77 commented on #345
Please add estimation :)

[2017-07-13 10:51] noamoss commented on #496
@nader77 I would go for a default picture:

https://openclipart.org/detail/215478/person

[2017-07-13 10:54] noamoss commented on #410
@nader77 you are right. Assigning myself to create a better example screenshot

[2017-07-13 10:55] noamoss commented on #345
@nader77 done

[2017-07-13 11:01] nader77 commented on #496
👍

[2017-07-17 05:36] nader77 commented on #274
@noamoss Timebox is done here, needs pumping up.

[2017-07-17 06:13] noamoss commented on #274
@nader77 bumped by 1h.

[2017-07-17 10:31] nader77 commented on #274
So generous 😆 , I'll check the status here and update you how much time I need.

[2017-07-20 09:39] noamoss commented on #268
two options @bricel brought up:

1) getting separate domains:
![image](https://user-images.githubusercontent.com/3581741/28411068-5a0e4054-6d48-11e7-9fce-b2460ad9fdf7.png)

2) buy somthing like portal.muni.il and, use sub domains -> arara.protal.muni.il.

Keeping it on hold until we have enough available pages to display.

[2017-07-23 06:35] nader77 commented on #274
@noamoss I need at least 2 more hours on this, I spent the first 1 just fixing migration, I need to add tests and I need to fix the display for the new theme.

[2017-07-23 06:38] nader77 commented on #274
@noamoss The display request depends on whether you want to display the location on the event teaser (Home page, topics page) or just on the event page?

[2017-07-23 07:02] noamoss commented on #274
@nader77 I will add to hours, but the new display theme will be ready (hopefully) tomorrow.

on both.

[2017-07-23 07:57] nader77 commented on #274
What new display theme?

[2017-07-23 08:02] noamoss commented on #274
@nader77 ( #410)

[2017-07-23 08:04] nader77 commented on #274
I doubt that I can finish that, test, Amitai's review and deploy in one day but I'll do my best.

[2017-07-23 08:05] nader77 commented on #274
Also, hours are not related to the finishing of the display theme, this issue was not done to the end, I need time to finish it, no way around, let's not confuse issues.

[2017-07-23 08:09] noamoss commented on #274
@nader77

no rush, we can wait for next week.

I know.

[2017-07-23 08:35] nader77 commented on #410
@noamoss This is still not done on your side and you asked for in the other issue that I work on it, please finish the specifications so I can work on it.

[2017-07-23 09:02] nader77 commented on #274
@noamoss A question, you don't need this field to be translatable in events, meaning that no need for the event in different languages to have different locations right?

I'm asking because it was done as a translatable field and the meaning of that is that the content editor will have to add the location for each translation instead of just having it there.

[2017-07-23 09:30] noamoss commented on #274
@nader77

This is how it should have been done: a location is basically a place name, and places have different names in different languages. Not only that, an Arabic user will not be able to understand a string like ״היכל התרבות״ when they see in the event box/page.

[2017-07-23 10:19] nader77 commented on #462
@noamoss @liatsade One thing about the "Edit" link requirement, there's an edit link specifically on this page that comes out of the box:
![_ ___municipality](https://user-images.githubusercontent.com/7369740/28498585-7b30e40e-6fa9-11e7-854f-63275cd7c44f.jpg)

Is this not enough, should we add another edit link next to the title and description?

[2017-07-23 10:56] noamoss commented on #462
@nader77 thanks, it is enough for now.

[2017-07-24 07:48] savyoncohen commented on #486
@noamoss  works as expected on all 3 types of content, just one problem described bellow:

* [x] basic page
* [x] news page
* [x] faq block (appears in homepage and in topic page)

- When I edit any type of node, the font color turns back to black and font size turn back to be small.
http://test-municipality.pantheonsite.io/municipality-4/node/190/edit?language=he
http://test-municipality.pantheon

[2017-07-24 07:57] savyoncohen commented on #487
@noamoss Fixed on `test`:
![selection_920](https://user-images.githubusercontent.com/18241741/28513435-de21d1ee-705e-11e7-9d38-100c4239b61f.png)
![selection_921](https://user-images.githubusercontent.com/18241741/28513436-de23ccce-705e-11e7-91a0-5117e0fae225.png)
![selection_922](https://user-images.githubusercontent.com/18241741/28513437-de259388-705e-11e7-868c-3de6c6c57465.png)

[2017-07-24 08:05] savyoncohen commented on #474
@noamoss Works as expected on homepage and events page:
http://test-municipality.pantheonsite.io/municipality-4/node/4?language=he
http://test-municipality.pantheonsite.io/municipality-4/events?language=he
![selection_923](https://user-images.githubusercontent.com/18241741/28513735-ef95fdbe-705f-11e7-8efb-f5e650e40651.png)
![selection_924](https://user-images.githubusercontent.com/18241741/2851373

[2017-07-24 08:11] #487 closed

[2017-07-24 08:14] noamoss commented on #486
@nader77 ^^^ works as expected, until editor edit an existing node with WYSIWG

[2017-07-24 08:17] noamoss commented on #474
@savyoncohen notice where is the comma located in the day/date/time section. I will create a followup for that.

[2017-07-24 08:17] #474 closed

[2017-07-24 08:20] noamoss opened #501 "main page events block: fix space location in date/day/time string [1h]"
space should come between comma and day name, not before the comma:

<img width="1280" alt="image" src="https://user-images.githubusercontent.com/3581741/28514169-cbf1dd90-7061-11e7-9cd4-45d3e42bfbc2.png">

(also relevant for #346, #410)

[2017-07-24 08:25] nader77 commented on #501
Ohh yeah, the space is on the other side, it should be:
`01/01/1970 11:00 - 12:00, Wednesday`

[2017-07-24 08:37] savyoncohen commented on #338
@noamoss
1. wide logos don't look good
![selection_929](https://user-images.githubusercontent.com/18241741/28514587-3edd0ffe-7063-11e7-969b-cb5e711bb388.png)
![selection_930](https://user-images.githubusercontent.com/18241741/28514588-3edf71a4-7063-11e7-8c23-63f0b2b9b65c.png)

2. Header doesn't look good when scrolling:
![image](https://user-images.githubusercontent.com/18241741/28514874-4bd27c16-

[2017-07-24 08:51] noamoss commented on #338
@savyoncohen back to you

it is not a bug, but please provide the details (measurements) of the logo that looks good for now, so we can fit other logos to those measurments.

plaese create a followup issue, with a better description of the problem - current + expected, assign to me, with the label 'bug'.

not a bug as long as #314 is not deployed (cc @nader77 please notice this, though).

We need

[2017-07-24 10:22] savyoncohen opened #502 "Header display when scrolling should be fix [4h]"
- Fix the logo proportions when scrolling down the pages.
- Fix the logo and accessibility ruler positions according to the title position, vertical align it.
- Header should be fix for mobile as well
![selection_938](https://user-images.githubusercontent.com/18241741/28519133-1fc2b83e-7073-11e7-95d0-51bded30965c.png)
![image](https://user-images.githubusercontent.com/18241741/28519110-063dc296-70

[2017-07-24 10:26] savyoncohen commented on #338
@noamoss
1. The ratio between the width and height should be 75%, the logo size is set 150pxX112.5px
only one logo looks good to me: arara
http://test-municipality.pantheonsite.io/municipality-2/node/2?language=he
![image](https://user-images.githubusercontent.com/18241741/28518853-20452f04-7072-11e7-8ec6-70a2701adac6.png)

2. I opened a follow up issue: #502

5. Can you explain how to add this co

[2017-07-24 11:07] noamoss commented on #338
@savyoncohen

see [this comment](https://github.com/Gizra/Municipality/issues/338#issuecomment-313910658) and following for the "About page". we can neglect the "מוקד פניות" for now.

[2017-07-24 11:51] noamoss commented on #338
@liatsade

only one logo looks good to me: arara
http://test-municipality.pantheonsite.io/municipality-2/node/2?language=he
![image](https://user-images.githubusercontent.com/18241741/28518853-20452f04-7072-11e7-8ec6-70a2701adac6.png)

please add to the written guide.

[2017-07-24 11:58] savyoncohen commented on #338
@liatsade Sorry I meant the radio between height and width , not "width and height"

[2017-07-24 12:01] savyoncohen commented on #338
@noamoss According to nader:

I can't find this field when adding a page content

[2017-07-24 13:36] noamoss commented on #410
@nader77 updated the description with full details and a new screenshot, also pushing a new branch of the static page, in case you find it useful.

@liatsade FYI: I left the topic label out of the page design for now, because I could not find a proper way to implement it.

[2017-07-24 13:57] noamoss commented on #338
@nader77 ^^^ ?

[2017-07-24 14:37] nader77 commented on #338
@savyoncohen @noamoss We took a different approach, please see https://github.com/Gizra/Municipality/issues/338#issuecomment-313914409

[2017-07-24 19:51] noamoss commented on #338
@nader77 thanks.
@savyoncohen please try and update.

[2017-07-25 09:05] savyoncohen commented on #338
@noamoss About page, accessabilty page and  term page have fields to set the links. works as expected. We just need to make sure `my municipality` text can be translated. when I select Hebrew it's not translated.
![image](https://user-images.githubusercontent.com/18241741/28564293-384160c2-7131-11e7-96ea-be3a3848e615.png)
![image](https://user-images.githubusercontent.com/18241741/28564299-3c5f224

[2017-07-25 09:06] noamoss commented on #338
@nader77

can we or do we need an extra issue for that?

[2017-07-26 05:41] nader77 commented on #338
Yes you can, we have discussed this.

[2017-07-26 05:48] noamoss commented on #338
@nader77 sorry, did not remember.

[2017-07-26 05:48] #338 closed

[2017-07-28 11:29] nader77 commented on #486
@noamoss This is not clear, we should discuss, the examples above have the same style as the editor (bear in mind that some things you can't change as it comes from the theme)

[2017-07-28 11:39] nader77 commented on #5
Closing as seems to be forgotten.

[2017-07-28 11:39] #5 closed

[2017-07-28 13:24] noamoss commented on #486
@nader77 forget text color, just please verify text alignment (right/center/left) can be set by the editor.

[2017-07-30 05:47] nader77 commented on #486
An existing node,

Editor:
![edit_news__hebrew____municipality](https://user-images.githubusercontent.com/7369740/28750947-93bd0e80-7503-11e7-933e-210f5cce6d5a.jpg)

View:
![municipality](https://user-images.githubusercontent.com/7369740/28750954-a4f3c2b6-7503-11e7-988f-ac5e2e516508.jpg)

[2017-07-30 05:47] nader77 commented on #486
If you want to check it yourselves:
http://test-municipality.pantheonsite.io/municipality-4/node/62?language=he

[2017-07-30 05:52] noamoss commented on #486
checked, works perfectly.

[2017-07-30 05:52] #486 closed

[2017-07-30 06:27] nader77 commented on #502
@noamoss

This is the Theme's design, the logo changes when scrolling, the existing logos are of very low quality and should be replaced.

I think we should reduce the Muni's title size significantly because it's too big and causing problems, even on desktop in English:
![kindergarten___municipality](https://user-images.githubusercontent.com/7369740/28751167-3e03697a-7509-11e7-88b3-3eb9cc9de640.jp

[2017-07-30 08:48] nader77 commented on #502
I removed the height property, should be fixed.

[2017-07-30 09:25] noamoss commented on #502
@nader77

go for it !

[2017-07-30 09:44] noamoss commented on #502
(see my comments on PR)

[2017-07-30 11:12] nedSaf opened #507 "Replace our custom Utils.Html with View.Extra [2h]"
The package has been imported in #500, We need to replace all the functions in the code and leave only some custom functions that `View.Extra` doesn't cover.

Also, I will perform code analyses using https://github.com/stil4m/elm-analyse

[2017-07-30 12:15] savyoncohen commented on #274
@noamoss The field is visible on `events` page, but not on `homepage`+
On `events` page we need to align the location to be under the event text.
http://test-municipality.pantheonsite.io/municipality-4/node/4?language=he
![selection_999 059](https://user-images.githubusercontent.com/18241741/28753227-ba9bc31c-7539-11e7-9729-f0a933fd5daa.png)

http://test-municipality.pantheonsite.io/municipality-4

[2017-07-30 12:20] savyoncohen commented on #496
@noamoss Works as expected on `test`:
http://test-municipality.pantheonsite.io/municipality-2/taxonomy/term/23?language=he
![image](https://user-images.githubusercontent.com/18241741/28753253-8103278e-753a-11e7-93a8-3a9a84a1c4a9.png)

[2017-07-30 12:33] noamoss commented on #496
@savyoncohen right, but I also notice the contact's name is linked (which is not included in the original definition, opening a follow-up, closing this one)

[2017-07-30 12:33] #496 closed

[2017-07-30 12:36] noamoss opened #508 "Omit link from contact's name on blocks [2h]"
Omit the link from the contact's name, as we don't have a personal page for contacts:

![Uploading image.png…]()

relevant for:
* [ ] topic pages
* [ ] new contact list page #500

[2017-07-30 12:38] nader77 commented on #274
This field should be only displayed on this page + this page is not designed yet.

[2017-07-30 12:42] noamoss commented on #502
@nader77 please notice I just bumped up timebox, as the new request has been added (see #506):
- align accessibility roller height
- adjust muni name + make it linkable to the home page, like logo.

[2017-07-30 15:41] nader77 commented on #462
@noamoss Please check this one yourself because of what we talked about.

[2017-07-30 20:35] noamoss commented on #274
@nader77 actually, now when we have the extra piece of information (i.e. location) we better also display it also in the homepage promoted events. Would you prefer to bump this issue a bit or open a follow-up issue?

[2017-07-31 07:03] noamoss commented on #462
@nader77 works as expected.

[2017-07-31 08:50] nader77 commented on #274
@noamoss open a follow up with a sketch of where to add it w/ TE of 1-2 hours.

[2017-07-31 09:35] noamoss opened #510 "display location on events block [2h]"
relevant for:

* [ ] homepage events section
* [ ] Topic page events section

<img width="284" alt="image" src="https://user-images.githubusercontent.com/3581741/28771017-e8e7df8e-75e9-11e7-8c71-f04d76992f58.png">

* add location field value in a new row, no label (to prevent the need of a conditional label in case of a missing value)
* use location CT link ( #274 ) as value's link to be open in a

[2017-07-31 10:22] nader77 commented on #502
It is linkable, there's a Drupal logic there that it's linkable when we are not on the homepage, which means it has a link only when we are on inner pages.

Changed the `title` from `Home` to `Homepage`

[2017-07-31 11:57] #462 closed

[2017-07-31 11:57] #274 closed

[2017-07-31 12:33] noamoss opened #511 "iPhone 6 Plus (Portrait) homepage: add padding to topic lists [1h]"
https://github.com/Gizra/Municipality/pull/506#issuecomment-319035326:

**iPhone 6 Plus (Portrait):**
<img width="430" alt="image" src="https://user-images.githubusercontent.com/3581741/28774666-3d2af36c-75f7-11e7-8e86-4b56f92659ba.png">
add padding to the right- prevent topic list of touching screen border

[2017-07-31 14:57] noamoss commented on #346
@nader77 adding 1h to include "edit" quick link for editors. Thanks for pointing on it, great call!

[2017-08-02 08:28] savyoncohen commented on #501
@noamoss Fixed on `test`:
![selection_043](https://user-images.githubusercontent.com/18241741/28864562-99ac813a-7775-11e7-99d1-8dfa222a41fa.png)
![selection_044](https://user-images.githubusercontent.com/18241741/28864560-99a6e8b0-7775-11e7-8ef9-85f19296328a.png)
![selection_045](https://user-images.githubusercontent.com/18241741/28864559-99a37c02-7775-11e7-804c-2f6259ddf7f5.png)
![selection_046](

[2017-08-02 08:54] #501 closed

[2017-08-13 15:33] noamoss commented on #346
@nedSaf bumped by 1h.

[2017-08-15 06:18] savyoncohen commented on #508
@noamoss Topics page still have a link on contact name:
http://test-municipality.pantheonsite.io/municipality-2/taxonomy/term/23?language=en
![image](https://user-images.githubusercontent.com/18241741/29304206-89ba66e6-819a-11e7-9c30-864302ecb671.png)

Fixed on contacts page:
![image](https://user-images.githubusercontent.com/18241741/29304232-a75ad1d6-819a-11e7-8317-768491facd9d.png)

[2017-08-15 06:41] savyoncohen commented on #502
@noamoss Looks better now:
![selection_261](https://user-images.githubusercontent.com/18241741/29304834-f16d028c-819d-11e7-8d61-16d9cf8cd3c1.png)
![selection_262](https://user-images.githubusercontent.com/18241741/29304835-f16d3db0-819d-11e7-886e-b6ecfb14e8d3.png)
![selection_263](https://user-images.githubusercontent.com/18241741/29304833-f16d044e-819d-11e7-8624-06fb5a752408.png)
![selection_266]

[2017-08-15 07:15] savyoncohen commented on #345
@noamoss
- The header is fixed:
![selection_271](https://user-images.githubusercontent.com/18241741/29305543-ea63c08a-81a1-11e7-961a-fc1cd583f456.png)

- The contacts are ordered ASC by first name and not last, is that OK?
![selection_272](https://user-images.githubusercontent.com/18241741/29305566-0d67ef3e-81a2-11e7-8b94-669769c1681a.png)

- The search input should be fixed:
![selection_273](http

[2017-08-15 07:23] #502 closed

[2017-08-15 07:27] noamoss opened #515 "Contacts page/blocks: sort by contact last name [2h]"
https://github.com/Gizra/Municipality/issues/345#issuecomment-322394324:

The contacts should be ordered ASC by last names:

Relevant both for
* contacts page template
* topic page (contacts block) template

![image](https://user-images.githubusercontent.com/3581741/29305970-f7d31912-81a3-11e7-9999-44d7df240035.png)

[2017-08-15 07:28] noamoss opened #516 "contacts page fix search field border display [1h]"
https://github.com/Gizra/Municipality/issues/345#issuecomment-322394324:

![image](https://user-images.githubusercontent.com/3581741/29306074-6bbe31c2-81a4-11e7-8682-42455da46cb5.png)

[2017-08-15 07:30] noamoss opened #517 "contacts page improve search [3h]"

[2017-08-15 07:33] noamoss commented on #517
@savyoncohen please spend up to 20mins to explore and describe the current behavior. Add this kind of detailed table to the description:

| searched for | expected result | actual result |
---|---|---|

Notice you should also include searches that worked as expected.
the last 10mins should be dedicated to conclude for what works and what should be improved. Please reassign me when done.

[2017-08-15 07:34] noamoss commented on #345
to be fixed, opened a followup:  #515

see follow-up #516

@savyoncohen need to explore more and explain the **current** and **expected** behaviors. see #517.

not sure I understand the problem. Please open a follow up and include a better explanation of the current/expected behavior.

Please close this issue after you read it and opened required follow ups.

[2017-08-15 07:37] noamoss commented on #508
@nedSaf

Please fix.

[2017-08-15 08:54] savyoncohen commented on #517
@noamoss
- There problem is to find a contact when searching by combination of: part of the first name + part of the last name, see the example bellow. sometimes it works and sometimes it doesn't
- The department is not shown on the contacts page.
- I can't search by subject or department as it's written in the input.
![image](https://user-images.githubusercontent.com/18241741/29308029-ea3826c2-81

[2017-08-15 08:56] savyoncohen commented on #345
@noamoss Closing this issue, after updating #517

[2017-08-15 08:56] #345 closed

[2017-08-15 10:47] noamoss opened #518 "contacts page mobile display add paddign to search bar [1h]"
Prevent the search border touching the screen's bounderies:

<img width="415" alt="image" src="https://user-images.githubusercontent.com/3581741/29312874-080a6d5a-81c0-11e7-845e-6e127f58396d.png">

[2017-08-15 10:48] noamoss commented on #517
@nedSaf let's discuss it on the next time you work on Muni.

[2017-08-15 10:50] nedSaf commented on #517
@noamoss 🙄  My opinion, waste of time. this is an edge case that isn't worth wasting time on it.

[2017-08-15 10:53] noamoss commented on #517
agree, should not invest time on it for now.

not an edge case, but a very required feature. can you estimate?

[2017-08-15 10:56] nedSaf commented on #517
This has an existing issue I think, no? anyway, of course, this should be handled, I would estimate around 4-6 hours, maybe it's much less, I need to consult with our elm developers.

[2017-08-15 11:05] noamoss opened #519 "Contact Cards - add department field [2h]"
relevant for:
- contacts list page
- topic pages

if the contact's person's field is populated, display it as plain text **without label** .

<img width="330" alt="image" src="https://user-images.githubusercontent.com/3581741/29313429-9ec44cd2-81c2-11e7-8581-dd2de9a8fb69.png">

[2017-08-15 11:16] savyoncohen opened #520 "Contacts page fixes [2h]"
- [ ] Fax and phone icons are missing.
- [ ] phone number format is wrong, should be 01-23456789
![selection_289](https://user-images.githubusercontent.com/18241741/29313806-267168da-81c4-11e7-8f1d-9e4aa859d21a.png)

- [ ] Remove `קבלת קהל` label when the field is empty

![selection_290](https://user-images.githubusercontent.com/18241741/29313817-39f88d84-81c4-11e7-92b6-95cef3251c37.png)

[2017-08-15 11:16] savyoncohen commented on #520
@noamoss Please assign someone

[2017-10-08 09:34] nedSaf commented on #520
Also, I will add the new theming function from #512, will fit into the existing TB.

[2017-10-08 10:57] nedSaf commented on #410
@amitaibu I'm thinking instead of duplicating all the logic of the date, price and location to Drupal, just add a page in elm to display a single event, sounds valid?

\cc @noamoss

[2017-10-08 11:09] amitaibu commented on #410
The only concern is SEO, although JS _should_ be crawled by Google. So I'd be in favor of this.

[2017-10-08 11:32] nedSaf commented on #410
I'll do some reading about Google crawling and JS just to make sure.

[2017-10-10 07:26] noamoss opened #524 "News Content Type: unpublished following Expiration Date [2h]"
In published news nodes, when the current date has passed the expiration date

![image](https://user-images.githubusercontent.com/3581741/31373967-beb37302-ada4-11e7-9d34-1e219a9ea7f1.png)

change the node from published --> unpublished.

Success criteria:

- anonymous users can not browse to the node page
- even if the node is marked `promoted to front page` it will not be displayed in the homepa

[2017-10-10 07:26] noamoss commented on #524
@liatsade ^^^ please notice this issue, as I believe we should mention it in the written guide.

[2017-10-10 09:41] noamoss opened #525 "META: Accessibility Standard (AA) Verification [6h]"
@liatsade following our talk today:

This issue aimed to make sure each of the existing pages (see below) follows all relelvant requirements by the AA standard.

We will also use the timebox to develop the method (i.e. a list of issues) for future pages.

We will work with this [brief version of the standard](http://www.nagish.org.il/?page_id=1427), and use the [semi-official](https://www.isoc.org

[2017-10-10 09:42] noamoss commented on #525
@liatsade please register in as QA tasks on productivity (due to budget concerns).

[2017-10-10 09:43] noamoss commented on #200
@liatsade I guess we can close this one for now, right? (If so, please close)

[2017-10-10 09:46] #200 closed

[2017-10-10 14:08] AronNovak opened #528 "Port WebTestCase performance optimization [0.25h]"
https://github.com/Gizra/drupal-elm-starter/pull/171

[2017-10-10 14:31] nedSaf commented on #515
@noamoss This will take much more than 2 hours, we need to find a way to sort by last name in the current language, this isn't trivial as it looks.

[2017-10-10 14:32] nedSaf commented on #515
**TimeBox 1.5/2** for discovery.

[2017-10-10 14:39] nedSaf commented on #519
@noamoss We already have `department` in contacts, if you are not seeing it then the content is not well defined.

![department](https://user-images.githubusercontent.com/7369740/31392453-f7984836-ade1-11e7-9121-677125eabb59.png)

[2017-10-10 14:41] nedSaf commented on #515
Best I can do with this timebox is sort by name (full name).

[2017-10-10 14:42] noamoss commented on #515
@nedSaf bumping by 1h:

2h --> 3h

[2017-10-10 14:55] noamoss commented on #519
@nedSaf I guess I am missing something. I am checking on live site:

For this Contact Node (http://live-municipality.pantheonsite.io/municipality-3/node/149?language=he), The department is תברואה:

![image](https://user-images.githubusercontent.com/3581741/31392950-34d33afc-ade3-11e7-9a6f-4146d94d8d79.png)

* topic page (http://live-municipality.pantheonsite.io/municipality-3/taxonomy/term/25?lang

[2017-10-10 15:02] nedSaf commented on #519
@noamoss The taxonomy doesn't have a name in Hebrew:
http://live-municipality.pantheonsite.io/taxonomy/term/20/edit?destination=admin/structure/taxonomy/departments%3Flanguage%3Dhe&language=he

[2017-10-10 15:03] nedSaf commented on #519
It doesn't have a name in any language, after creating a taxonomy, we should go through all the languages and make sure it has a value.

[2017-10-10 15:05] nedSaf commented on #515
Much more is not one more hour 😒

We need to change a lot of things in the structure to achieve sorting by last name, let's discuss this on Sunday.

[2017-10-10 17:46] noamoss commented on #515
@nedSaf sorry missed that `much`.

Before bumping time for execution I thought to invest extra 1h in discovery: If you think it is feasible in less than 6h I will be able to bump it up.  But If you can't say yet for sure, let's spend another hour and see what would be your estimation then.

Since I will not be working on Sunday, you can either move on with the discovery extra hour or wait to our p

[2017-10-10 20:33] noamoss commented on #524
change in plans, following [this discussion on the PR](https://github.com/Gizra/Municipality/pull/527#issuecomment-335598871). Updated the issue's description.

[2017-10-12 01:56] noamoss commented on #515
@amitaibu that's what we already have. The main question I asked myself before openning the issue is what would a user expect and undertand, and would they even care of the cards order. I believe the common user expects a last name sorting and might get (a bit) confused otherwise, but I can't prove it.

Within two/three weeks from now we are expected to consider other (less important, IMO) tasks a

[2017-10-14 16:58] noamoss commented on #519
@nedSaf thanks. closing issue as it indeed solved the problem:
![image](https://user-images.githubusercontent.com/3581741/31577578-f3d96ef6-b119-11e7-987b-a7a17e9326c5.png)

@liatsade ^^^ I guess this is also an important point for us. smells like soon we will need to dedicate a couple of hours to prepare the Hebrew/English translations.

[2017-10-14 16:58] #519 closed

[2017-10-16 10:26] nedSaf commented on #516
@noamoss This has been fixed.

![searchbar](https://user-images.githubusercontent.com/7369740/31607533-654a8cb2-b275-11e7-8966-c2f90c32a64c.jpg)

http://test-municipality.pantheonsite.io/municipality-2/contacts?language=he

[2017-10-16 10:28] noamoss commented on #515
following our talk today I understood sort implementation to be done on the backend (drupal). I will check and reply wether changing full name order (Last name+" "+First name) to display and sort acn work.

[2017-10-16 10:32] noamoss commented on #524
bumping up 2h --> 2.5h for an extra test

[2017-10-16 11:20] noamoss commented on #515
@nedSaf ok, made my checks. For now we can stay with your and Amitai's proposal - sort by full name (first name first).

[2017-10-16 12:43] nedSaf opened #532 "Format all elm files. [0.5h]"

[2017-10-16 12:46] nedSaf opened #533 "Update modules (security update) [0.5h]"

[2017-10-17 06:54] noamoss commented on #515
changing issue's name, to keep things in order.

[2017-10-17 08:14] noamoss opened #536 "Event page - omit NIS icon [0.5h]"
![image](https://user-images.githubusercontent.com/3581741/31653731-50b1eedc-b32c-11e7-8de9-caf9a6bc7c78.png)

[2017-10-17 08:17] noamoss opened #537 "Events page, create new events - add quick link for editor [1h]"
when logged as an editor (or any user with permissions to create new events) add a quick link in the events page (i.e. http://test-municipality.pantheonsite.io/municipality-3/events?language=he):

label: הוספת אירוע חדש / add new event / [arabic translation]
location:
![image](https://user-images.githubusercontent.com/3581741/31653801-9093bb7a-b32c-11e7-80bb-ec87f8aa4cba.png)
linked to: http://tes

[2017-10-17 08:18] noamoss commented on #537
/cc @liatsade ^^^ UI suggestion. Agree it is needed?

[2017-10-17 08:30] noamoss opened #538 "When event is longer than one day omit the day name [2h]"
As the day name appears only for the starting day:

![image](https://user-images.githubusercontent.com/3581741/31654303-4cff413e-b32e-11e7-93ba-29a3e5790009.png)

choose the simpler solution:

1. omit the day name (only for events with a different end date than the start day.
2. add the day name also to the end date to the displayed string

[2017-10-17 08:31] noamoss commented on #536
wrong report. closing.

[2017-10-17 08:31] #536 closed

[2017-10-17 08:33] noamoss commented on #410
checked & approved, can go live.

[2017-10-17 08:40] noamoss opened #539 "Events page, create new contacts - add quick link for editor [1h]"
similiar to #537

when logged as an editor (or any user with permissions to create new contacts) add a quick link in the contacts page (i.e. http://test-municipality.pantheonsite.io/municipality-1/contacts?language=he):

label: הוספת אנשי קשר / add new contact / [arabic translation]
location:

![image](https://user-images.githubusercontent.com/3581741/31654722-7aae0fe2-b32f-11e7-9704-4b90489aab15.

[2017-10-17 08:40] noamoss commented on #539
@liatsade again, checking my instinct this is not something to give up on.

[2017-10-17 08:41] noamoss commented on #518
checked:

![image](https://user-images.githubusercontent.com/3581741/31654929-18261ca6-b330-11e7-8036-a86d53ae9dbc.png)

approved, can go live.

[2017-10-17 08:41] liatsade commented on #537
@noamoss yes, and in the other pages as well (Contacts, News, etc.)

[2017-10-17 08:43] noamoss commented on #410
checked:

![image](https://user-images.githubusercontent.com/3581741/31655010-4a3491c8-b330-11e7-9138-c473f4249ce5.png)

approved, with one follow up issue: #538 regarding the event's date string

[2017-10-17 08:45] liatsade commented on #539
@noamoss the title of this issue needs to be changed to Contact page (not Events page).

[2017-10-17 08:47] noamoss commented on #520
checked:

![image](https://user-images.githubusercontent.com/3581741/31655227-eb69c5ae-b330-11e7-9e19-c1df815b03e6.png)

also verified in Arabic and English.

Approved, can go live.

[2017-10-17 08:49] liatsade commented on #539
@noamoss the label of the link in Hebrew needs to be הוספת איש קשר (single and not plural)

[2017-10-17 08:50] noamoss commented on #520
checked on  :

before changing contact name: http://test-municipality.pantheonsite.io/municipality-1/contacts?language=he

![image](https://user-images.githubusercontent.com/3581741/31655333-383e3310-b331-11e7-9496-305da82a383e.png)

after changing contact name:
![image](https://user-images.githubusercontent.com/3581741/31655386-5c37e734-b331-11e7-9e79-e0f9e5fede26.png)

approved, can go live.

[2017-10-17 08:51] noamoss commented on #515
checked on  :

before changing contact name: http://test-municipality.pantheonsite.io/municipality-1/contacts?language=he

![image](https://user-images.githubusercontent.com/3581741/31655333-383e3310-b331-11e7-9496-305da82a383e.png)

after changing contact name:
![image](https://user-images.githubusercontent.com/3581741/31655386-5c37e734-b331-11e7-9e79-e0f9e5fede26.png)

approved, can go live.

[2017-10-17 08:53] noamoss opened #540 "fix weekly recurring events date display [?h]"
This is a weekly recurring event. When we check it following the first date, it becomes irrelevant.
![image](https://user-images.githubusercontent.com/3581741/31655478-abafc822-b331-11e7-88a2-93d513be2668.png)

[2017-10-17 08:55] noamoss commented on #540
@liatsade see the problem described. I am thinking of not showing the date, just the day name, on recurring events to solve this. What do you think? any other idea?

[2017-10-17 08:58] liatsade commented on #540
@noamoss yes, hide the date in weekly events sounds right.

[2017-10-17 08:59] noamoss commented on #524
@nedSaf

checked on: http://test-municipality.pantheonsite.io/municipality-1/node/1?language=he

checked event: http://test-municipality.pantheonsite.io/municipality-1/node/29?language=he

(before, it was a recurring event appears, as it should)
![image](https://user-images.githubusercontent.com/3581741/31655599-0a6e926c-b332-11e7-969c-932495a00ab2.png)

but when switched it to a one time **past e

[2017-10-17 10:10] noamoss commented on #516
@nedSaf still happens on Chrome and Safari, when zooming in/out:

![image](https://user-images.githubusercontent.com/3581741/31655927-00e71c5e-b333-11e7-883c-a4f1e1bcd06a.png)

![image](https://user-images.githubusercontent.com/3581741/31656027-2a010d34-b333-11e7-99cb-eec95ed265b5.png)

The interesting part is that it does not happen now on FF.

[2017-10-17 10:21] noamoss commented on #539
@liatsade

I think the current label a better way to handle gender bias.

[2017-10-17 10:35] liatsade commented on #539
@noamoss

You right, but this link gives the user the ability to add one contact at a time, so use the plural noun is not accurate. If you want to avoid gender bias you can use הוספת איש/ת קשר
but IMO this is a little awkward and not necessary. I live in peace with a single male noun as it is acceptable in Hebrew for both male and female.

[2017-10-17 10:36] noamoss commented on #533
checked:

![image](https://user-images.githubusercontent.com/3581741/31660454-24497144-b340-11e7-9811-6f5f574f771c.png)

approved, can go live.

[2017-10-17 11:10] noamoss commented on #346
checked on http://test-municipality.pantheonsite.io/municipality-3/events?language=he

1. missing currency next to the price value --> add a textual ש"ח

![image](https://user-images.githubusercontent.com/3581741/31660530-61754e44-b340-11e7-958c-97b71e409e91.png)

2. events might have different fields populated, which cause inconsistency in items' border height. Should keep the borders in a consis

[2017-10-17 11:18] noamoss commented on #539
@liatsade fixed description.

[2017-10-17 12:18] noamoss commented on #510
checked:

![image](https://user-images.githubusercontent.com/3581741/31664447-1e6f3f8e-b34e-11e7-9678-bc3795b8651f.png)

![image](https://user-images.githubusercontent.com/3581741/31664519-6fc968e6-b34e-11e7-872a-e8e138c33c63.png)

approved, can go live.

[2017-10-17 12:22] noamoss commented on #511
checked:

![image](https://user-images.githubusercontent.com/3581741/31664648-fb011fe4-b34e-11e7-81a5-36759f4a4341.png)

approved, can go live.

[2017-10-17 12:27] noamoss commented on #508
checked:

![image](https://user-images.githubusercontent.com/3581741/31664829-9ce6c886-b34f-11e7-996a-12f326df0239.png)

![image](https://user-images.githubusercontent.com/3581741/31664878-be4e87ac-b34f-11e7-836f-c79c3a8fd2a8.png)

approved, can go live.

[2017-10-17 12:49] noamoss opened #541 "homepage add links to contacts and events pages [2h]"
In the muni homepage, at the "topics" sections at the bottom:

Add two links at the beginning of the links buttons:
![image](https://user-images.githubusercontent.com/3581741/31665683-5e85a6b8-b352-11e7-8be8-afd6c5b6123e.png)

1. "אנשי קשר" [don't care which color] to link to /contacts page
English: Contacts
Arabic label: اتصالات

2. "אירועים" [don't mind which color]  to link to the /events page